openapi: 3.2.0
info:
  version: 1.0.0
  title: Airtel IQ SMS Core Bulk SMS APIs API
  description: These APIs can be used to send Bulk SMS in different ways as documented below
servers:
- url: https://iqsms.airtel.in/
tags:
- name: Bulk SMS APIs
  description: These APIs can be used to send Bulk SMS in different ways as documented below
paths:
  /api/v1/send-sms-bulk:
    post:
      tags:
      - Bulk SMS APIs
      summary: Multiple SMS Requests API
      description: This API can be used to send a request to leverage multiple SMS requests within the same instant.
      operationId: sendSmsUsingPOST
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SingleSmsRequestVO'
        description: sendSmsRequestVos
        required: true
  /api/v1/send-sms-cm:
    post:
      tags:
      - Bulk SMS APIs
      summary: Send SMS Via Content Moderation API
      description: This API can be used to send a request without providing DLT details to more than one recipient within the same instant.
      operationId: sendSmsViaCsvUsingPOST
      parameters:
      - name: customerId
        in: query
        description: customerId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SendSmsResponseVO'
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CMRequest'
        description: cmRequest
        required: true
  /api/v1/send-sms-csv:
    post:
      tags:
      - Bulk SMS APIs
      summary: Send SMS Via CSV API
      description: This API can be used to send SMS to multiple destination addresses provided in csv file
      operationId: sendSmsViaCsvUsingPOST_1
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SendSmsResponseVO'
      deprecated: false
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                customerId:
                  type: string
                  description: Specifies the source/client's id registered and wants to use the SMS APIs
                destinationAddress:
                  type: array
                  items:
                    type: string
                  description: Specifies the mobile numbers on which message needs to be delivered
                dltTemplateId:
                  type: string
                  description: Specifies the template id received after dlt registration.
                entityId:
                  type: string
                  description: Specifies the entity id received after dlt registration.
                file:
                  type: string
                  description: Specifies the CSV file to be uploaded
                  format: binary
                filterBlacklistNumbers:
                  type: boolean
                  description: Specifies the flag to enable/disable filtering of blacklisted numbers
                message:
                  type: string
                  description: Specifies the message which needs to be delivered
                messageType:
                  type: string
                  enum:
                  - PROMOTIONAL
                  - TRANSACTIONAL
                  - SERVICE_IMPLICIT
                  - SERVICE_EXPLICIT
                  - INTERNATIONAL
                  description: Specifies the type of message which needs to be sent.
                metaData:
                  type: object
                  description: Specifies all the additional parameters
                otp:
                  type: boolean
                  description: Specifies the flag for priority of the messages
                sourceAddress:
                  type: string
                  description: Specifies the shortcode/senderId through which message would be sent
                urlShortenerParams.campaignId:
                  type: string
                urlShortenerParams.campaignName:
                  type: string
                urlShortenerParams.campaignType:
                  type: string
                urlShortenerParams.hitsAllowed:
                  type: integer
                  format: int32
                urlShortenerParams.isEnabled:
                  type: string
                urlShortenerParams.isUniqueUrl:
                  type: string
                urlShortenerParams.metaData:
                  type: object
                urlShortenerParams.shortCode:
                  type: string
                urlShortenerParams.systemMetaData:
                  type: object
                urlShortenerParams.validity:
                  type: integer
                  format: int32
              required:
              - customerId
              - destinationAddress
              - dltTemplateId
              - entityId
              - message
              - messageType
              - sourceAddress
components:
  schemas:
    UrlShortenerParams:
      type: object
      properties:
        campaignId:
          type: string
          description: campaign id
        campaignName:
          type: string
          description: campaign name
        campaignType:
          type: string
          description: campaign type
        hitsAllowed:
          type: integer
          format: int32
          description: No of hits allowed for the url
        isEnabled:
          type: string
          example: 'false'
          description: flag to check if convert to short url
        isUniqueUrl:
          type: string
          example: 'false'
          description: flag to create unique url for each request
        metaData:
          type: object
          description: url shortener meta data
        shortCode:
          type: string
          description: short code provided by client
        systemMetaData:
          type: object
          description: url shortener system meta data
        validity:
          type: integer
          format: int32
          description: validity for which the url will be active
      title: UrlShortenerParams
    CMRequest:
      type: object
      required:
      - customerId
      - destinationAddress
      - message
      properties:
        customerId:
          type: string
          description: Specifies the source/client's id registered and wants to use the SMS APIs
        destinationAddress:
          type: array
          description: Specifies the mobile numbers on which message needs to be delivered
          items:
            type: string
        filterBlacklistNumbers:
          type: boolean
          example: false
          description: Specifies the flag to enable/disable filtering of blacklisted numbers
        message:
          type: string
          description: Specifies the message which needs to be delivered
        metaData:
          type: object
          description: Specifies all the additional parameters
        priority:
          type: boolean
          example: false
          description: Specifies the flag for priority of the messages
        urlShortenerParams:
          description: Specifies the parameters to convert long url to short
          $ref: '#/components/schemas/UrlShortenerParams'
      title: CMRequest
    SingleSmsRequestVO:
      type: object
      required:
      - customerId
      - dltTemplateId
      - entityId
      - message
      - messageType
      - sourceAddress
      properties:
        customerId:
          type: string
          description: Specifies the source/client's id registered and wants to use the SMS APIs
        destinationAddress:
          type: string
          description: Specifies the mobile numbers on which message needs to be delivered
        dltTemplateId:
          type: string
          description: Specifies the template id received after dlt registration.
        entityId:
          type: string
          description: Specifies the entity id received after dlt registration.
        filterBlacklistNumbers:
          type: boolean
          example: false
          description: Specifies the flag to enable/disable filtering of blacklisted numbers
        message:
          type: string
          description: Specifies the message which needs to be delivered
        messageType:
          type: string
          description: Specifies the type of message which needs to be sent.
          enum:
          - PROMOTIONAL
          - TRANSACTIONAL
          - SERVICE_IMPLICIT
          - SERVICE_EXPLICIT
        metaData:
          type: object
          description: Specifies all the additional parameters
        priority:
          type: boolean
          example: false
          description: Specifies the flag for priority of the messages
        sourceAddress:
          type: string
          description: Specifies the shortcode/senderId through which message would be sent
        urlShortenerParams:
          description: Specifies the parameters to convert long url to short
          $ref: '#/components/schemas/UrlShortenerParams'
      title: SingleSmsRequestVO
    SendSmsResponseVO:
      type: object
      properties:
        customerId:
          type: string
          description: Specifies the source/client's id registered and wants to use the SMS APIs
        destinationAddress:
          type: array
          description: Specifies the mobile numbers on which message requests were submitted
          items:
            type: string
        dltTemplateId:
          type: string
          description: Specifies the template id received after dlt registration.
        entityId:
          type: string
          description: Specifies the entity id received after dlt registration.
        errorMessage:
          type: string
          description: Specifies the error message if received any during sms request
        incorrectNum:
          type: array
          description: Specifies incorrect numbers in request (less than 10 digit numbers)
          items:
            type: string
        message:
          type: string
          description: Specifies the message for which request was received
        messageRequestId:
          type: string
          description: Specifies unique message request id
        messageType:
          type: string
          description: Specifies the type of message sent.
          enum:
          - PROMOTIONAL
          - TRANSACTIONAL
          - SERVICE_IMPLICIT
          - SERVICE_EXPLICIT
        metaData:
          type: object
          description: Specifies the additional information received with each sms
        sourceAddress:
          type: string
          description: Specifies the shortcode/senderId through which message was sent
      title: SendSmsResponseVO
