openapi: 3.2.0
info:
  version: ''
  title: Airtel IoT Whitelisting APIs API
  contact:
    email: m2m.support@airtel.com
  description: '# Overview

    ## Introduction


    Airtel IoT Developer Portal showcases APIs that allows you

    to access data of the CMP Billable account from any external application.'
servers:
- url: https://m2m.airteliot.co.in/iot/api/
security: []
tags:
- name: Whitelisting APIs
paths:
  /voice/numbers:
    post:
      tags:
      - Whitelisting APIs
      summary: Update Voice Whitelist Number API in CMP
      description: This API will update the Voice Whitelist number in CMP. Customer can Add, Update or Delete whitelisted numbers with this API
      operationId: updateVoiceWhitelistNumberUsingPOST
      parameters:
      - name: Authorization
        in: header
        description: Authorization Header (Value must be like Bearer <Developer Access Token>)
        required: true
        schema:
          type: string
          default: Bearer XXXXXXXXXXXXXX
      - name: apikey
        in: header
        description: Developer API Key
        required: true
        schema:
          type: string
      - name: customer-id
        in: header
        description: 'Unique ID to identify Customer (shared during On-Boarding process) '
        required: true
        schema:
          type: integer
          format: int64
      - name: iv-user
        in: header
        description: Developer Account User ID
        required: true
        schema:
          type: string
      requestBody:
        description: requestDO
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhitelistNumberDO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobVO'
        '201':
          description: Resource Created Successfully
          content: {}
        '400':
          description: Request Message is not correct
          content: {}
        '500':
          description: Internal Server Error.
          content: {}
      deprecated: false
      x-codegen-request-body-name: requestDO
components:
  schemas:
    WhitelistNumberDO:
      title: WhitelistNumberDO
      type: object
      properties:
        msisdn:
          type: string
        whitelistNumber1:
          type: string
          description: Whitelist Number 1
        whitelistNumber2:
          type: string
          description: Whitelist Number 2
        whitelistNumber3:
          type: string
          description: Whitelist Number 3
        whitelistNumber4:
          type: string
          description: Whitelist Number 4
        whitelistNumberType1:
          type: string
          description: provide whitelist type from one of the allowed values
          example: ${whitelist.type.example}
          enum:
          - ${INCOMING
          - OUTGOING
          - INCOMINGANDOUTGOING}
        whitelistNumberType2:
          type: string
          description: provide whitelist type from one of the allowed values
          example: ${whitelist.type.example}
          enum:
          - ${INCOMING
          - OUTGOING
          - INCOMINGANDOUTGOING}
        whitelistNumberType3:
          type: string
          description: provide whitelist type from one of the allowed values
          example: ${whitelist.type.example}
          enum:
          - ${INCOMING
          - OUTGOING
          - INCOMINGANDOUTGOING}
        whitelistNumberType4:
          type: string
          description: provide whitelist type from one of the allowed values
          example: ${whitelist.type.example}
          enum:
          - ${INCOMING
          - OUTGOING
          - INCOMINGANDOUTGOING}
    JobVO:
      title: JobVO
      type: object
      properties:
        errorFileName:
          type: string
          description: Error File Name
        errorItemsCount:
          type: integer
          description: Count of Error items in uploaded file.
          format: int32
        failureCount:
          type: integer
          description: Failure Order Count
          format: int32
        inProgressCount:
          type: integer
          description: In Progress Order Count
          format: int32
        jobId:
          type: integer
          description: Job ID, in case a particular Job ID to be fetched
          format: int64
        jobType:
          type: string
          description: Job Type as defined in CMP
        orderCompletionTime:
          type: string
          description: End Date in a date range to fetch Job IDs
        orderCount:
          type: integer
          description: Order Count
          format: int32
        orderInitiateDate:
          type: string
          description: Start Date in a date range to fetch Job IDs
        rejectedCount:
          type: integer
          description: Rejected Order Count
          format: int32
        requestedOrderItems:
          type: integer
          description: Count of items requested in uploaded file.
          format: int32
        statusCode:
          type: string
          description: Job Status Code
        statusMessage:
          type: string
          description: Status of Job IDs
        successCount:
          type: integer
          description: Success Order Count
          format: int32
        uploadFileName:
          type: string
          description: Upload File Name
x-tagGroups:
- name: Manage Customer APIs
  tags:
  - Account Authorization
  - Account Details
  - Inventory Management
- name: New Orders APIs
  tags:
  - SIM LifeCycle
- name: Bulk Orders APIs
  tags:
  - SIM LifeCycle Bulk
- name: Jobs APIs
  tags:
  - Job Status
- name: Device Details APIs
  tags:
  - Device & Session Information
- name: Whitelisting APIs
  tags:
  - Whitelisting
- name: KYC APIs
  tags:
  - KYC Manager
- name: Messaging Centre APIs
  tags:
  - Messaging Centre
