openapi: 3.2.0
info:
  version: ''
  title: Airtel IoT Job Status API
  contact:
    email: m2m.support@airtel.com
  description: '# Overview

    ## Introduction


    Airtel IoT Developer Portal showcases APIs that allows you

    to access data of the CMP Billable account from any external application.'
servers:
- url: https://m2m.airteliot.co.in/iot/api/
security: []
tags:
- name: Job Status
  description: This API will allow user to fetch Job details for any operations being performed in that Billable account.
paths:
  /job/all:
    get:
      tags:
      - Job Status
      summary: Fetch Jobs
      description: For all orders initiated on CMP, single or Bulk, there is a Job ID that gets generated for all orders. One Job ID may have one or multiple Order IDs. This API will allow user to fetch Job details in that Billable account.
      operationId: fetchJobsUsingGET
      parameters:
      - name: Authorization
        in: header
        description: Authorization Header (Value must be like Bearer <Developer Access Token>)
        required: true
        schema:
          type: string
          default: Bearer XXXXXXXXXXXXXX
      - name: apikey
        in: header
        description: Developer API Key
        required: true
        schema:
          type: string
      - name: customer-id
        in: header
        description: 'Unique ID to identify Customer (shared during On-Boarding process) '
        required: true
        schema:
          type: integer
          format: int64
      - name: displayRejectedRecords
        in: query
        description: Show Rejected Jobs
        allowEmptyValue: false
        schema:
          type: boolean
          default: true
      - name: endDate
        in: query
        description: End Date in a date range to fetch Job IDs. Format DD/MM/YYY
        allowEmptyValue: false
        schema:
          type: string
      - name: iv-user
        in: header
        description: Developer Account User ID
        required: true
        schema:
          type: string
      - name: jobId
        in: query
        description: Job ID, in case a particular Job ID to be fetched
        allowEmptyValue: false
        schema:
          type: integer
          format: int64
      - name: jobType
        in: query
        description: Job Type as defined in CMP
        allowEmptyValue: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - ACTIVATE_SIM
            - CHANGE_PLAN
            - SAFE_CUSTODY
            - OUT_OF_SAFE_CUSTODY
            - SWAP_SIM
            - DOWNLOAD_SIM
            - BASKET_DETAIL
            - BULK_DISCONNECTION
            - ACTIVATE_SIM_FOR_BASKET
            - BULK_UPLOAD
            - BASKET_OPERATION
            - ACTIVATE_TEST_SIM
            - ACCOUNT_BULK_UPLOAD
            - BULK_TEMP_DISCONNECTION
            - BULK_SMS_WHITELISTING
            - BULK_GROUP_CHANGE
          enum:
          - ACTIVATE_SIM
          - CHANGE_PLAN
          - SAFE_CUSTODY
          - OUT_OF_SAFE_CUSTODY
          - SWAP_SIM
          - DOWNLOAD_SIM
          - BASKET_DETAIL
          - BULK_DISCONNECTION
          - ACTIVATE_SIM_FOR_BASKET
          - BULK_UPLOAD
          - BASKET_OPERATION
          - ACTIVATE_TEST_SIM
          - ACCOUNT_BULK_UPLOAD
          - BULK_TEMP_DISCONNECTION
          - BULK_SMS_WHITELISTING
          - BULK_GROUP_CHANGE
      - name: mobileNo
        in: query
        description: Mobile Number, in case Job IDs for a particular mobile number needs to be fetched
        allowEmptyValue: false
        schema:
          type: string
      - name: pageNo
        in: query
        description: Page Number in case of pagination. Default Page No. is 1.
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 1
      - name: pageSize
        in: query
        description: Page Size in pagination. Default Page Size is 25 and Maximum is 100.
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 25
      - name: startDate
        in: query
        description: Start Date in a date range to fetch Job IDs. Format DD/MM/YYY
        allowEmptyValue: false
        schema:
          type: string
      - name: status
        in: query
        description: Status of Job IDs
        allowEmptyValue: false
        schema:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - IN_PROGRESS
          - REJECTED
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Jobs'
        '400':
          description: Request Message is not correct
          content: {}
        '500':
          description: Internal Server Error.
          content: {}
      deprecated: false
  /job/{jobId}/order:
    get:
      tags:
      - Job Status
      summary: Fetch Order IDs
      description: To fetch Order IDs in single Job ID, this API will allow user to fetch single or multiple Order IDs in a Job in that Billable account.
      operationId: fetchOrdersUsingGET
      parameters:
      - name: Authorization
        in: header
        description: Authorization Header (Value must be like Bearer <Developer Access Token>)
        required: true
        schema:
          type: string
          default: Bearer XXXXXXXXXXXXXX
      - name: apikey
        in: header
        description: Developer API Key
        required: true
        schema:
          type: string
      - name: customer-id
        in: header
        description: 'Unique ID to identify Customer (shared during On-Boarding process) '
        required: true
        schema:
          type: integer
          format: int64
      - name: iv-user
        in: header
        description: Developer Account User ID
        required: true
        schema:
          type: string
      - name: jobId
        in: path
        description: Job ID, in case order in a particular Job ID to be fetched
        required: true
        schema:
          type: integer
          format: int64
      - name: mobileNo
        in: query
        description: Mobile Number, in case Order IDs for a particular mobile number needs to be fetched
        allowEmptyValue: false
        schema:
          type: string
      - name: pageNo
        in: query
        description: Page Number in case of pagination. Default Page No. is 1.
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 1
      - name: pageSize
        in: query
        description: Page Size in pagination. Default Page Size is 25 and Maximum is 100.
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 25
      - name: status
        in: query
        description: Status of Order ID
        allowEmptyValue: false
        schema:
          type: string
          enum:
          - SUCCESS
          - FAILURE
          - IN_PROGRESS
          - REJECTED
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Orders'
        '400':
          description: Request Message is not correct
          content: {}
        '500':
          description: Internal Server Error.
          content: {}
      deprecated: false
components:
  schemas:
    Orders:
      title: Orders
      type: object
      properties:
        orders:
          type: array
          items:
            $ref: '#/components/schemas/OrderVO'
        total:
          type: string
    Jobs:
      title: Jobs
      type: object
      properties:
        jobs:
          type: array
          items:
            $ref: '#/components/schemas/JobVO'
        total:
          type: string
    JobVO:
      title: JobVO
      type: object
      properties:
        errorFileName:
          type: string
          description: Error File Name
        errorItemsCount:
          type: integer
          description: Count of Error items in uploaded file.
          format: int32
        failureCount:
          type: integer
          description: Failure Order Count
          format: int32
        inProgressCount:
          type: integer
          description: In Progress Order Count
          format: int32
        jobId:
          type: integer
          description: Job ID, in case a particular Job ID to be fetched
          format: int64
        jobType:
          type: string
          description: Job Type as defined in CMP
        orderCompletionTime:
          type: string
          description: End Date in a date range to fetch Job IDs
        orderCount:
          type: integer
          description: Order Count
          format: int32
        orderInitiateDate:
          type: string
          description: Start Date in a date range to fetch Job IDs
        rejectedCount:
          type: integer
          description: Rejected Order Count
          format: int32
        requestedOrderItems:
          type: integer
          description: Count of items requested in uploaded file.
          format: int32
        statusCode:
          type: string
          description: Job Status Code
        statusMessage:
          type: string
          description: Status of Job IDs
        successCount:
          type: integer
          description: Success Order Count
          format: int32
        uploadFileName:
          type: string
          description: Upload File Name
    OrderVO:
      title: OrderVO
      type: object
      properties:
        mobileNo:
          type: string
        orderCompletionTime:
          type: string
        orderId:
          type: integer
          format: int64
        orderInitiateDate:
          type: string
        orderStatus:
          type: string
        orderType:
          type: string
        remarks:
          type: string
        simNo:
          type: string
x-tagGroups:
- name: Manage Customer APIs
  tags:
  - Account Authorization
  - Account Details
  - Inventory Management
- name: New Orders APIs
  tags:
  - SIM LifeCycle
- name: Bulk Orders APIs
  tags:
  - SIM LifeCycle Bulk
- name: Jobs APIs
  tags:
  - Job Status
- name: Device Details APIs
  tags:
  - Device & Session Information
- name: Whitelisting APIs
  tags:
  - Whitelisting
- name: KYC APIs
  tags:
  - KYC Manager
- name: Messaging Centre APIs
  tags:
  - Messaging Centre
