openapi: 3.2.0
info:
  version: ''
  title: Airtel IoT Device & Session Information API
  contact:
    email: m2m.support@airtel.com
  description: '# Overview

    ## Introduction


    Airtel IoT Developer Portal showcases APIs that allows you

    to access data of the CMP Billable account from any external application.'
servers:
- url: https://m2m.airteliot.co.in/iot/api/
security: []
tags:
- name: Device & Session Information
  description: To data usage on a specific SIM, this API will allow user to get total data allocation, available data, used data, device information & session information for the SIM.
paths:
  /sim/device/info:
    get:
      tags:
      - Device & Session Information
      summary: Get Device Info
      description: Once the SIM is active on the network and inserted in a device to use data, this API will allow user to fetch device related parameters including IMEI, previous IMEI, device make / model, device type, etc.
      operationId: fetchDeviceInfoUsingGET
      parameters:
      - name: Authorization
        in: header
        description: Authorization Header (Value must be like Bearer <Developer Access Token>)
        required: true
        schema:
          type: string
          default: Bearer XXXXXXXXXXXXXX
      - name: apikey
        in: header
        description: Developer API Key
        required: true
        schema:
          type: string
      - name: customer-id
        in: header
        description: 'Unique ID to identify Customer (shared during On-Boarding process) '
        required: true
        schema:
          type: integer
          format: int64
      - name: iv-user
        in: header
        description: Developer Account User ID
        required: true
        schema:
          type: string
      - name: mobileNo
        in: query
        description: Mobile No.
        required: true
        allowEmptyValue: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceIMEIResponseVO'
        '400':
          description: Request Message is not correct
          content: {}
        '500':
          description: Internal Server Error.
          content: {}
      deprecated: false
  /sim/data/usage:
    get:
      tags:
      - Device & Session Information
      summary: Get Data Usage
      description: To fetch real-time data usage on a specific SIM, this API will allow user to get total data allocation, available data and used data for the SIM.
      operationId: fetchDataUsageUsingGET
      parameters:
      - name: Authorization
        in: header
        description: Authorization Header (Value must be like Bearer <Developer Access Token>)
        required: true
        schema:
          type: string
          default: Bearer XXXXXXXXXXXXXX
      - name: apikey
        in: header
        description: Developer API Key
        required: true
        schema:
          type: string
      - name: customer-id
        in: header
        description: 'Unique ID to identify Customer (shared during On-Boarding process) '
        required: true
        schema:
          type: integer
          format: int64
      - name: iv-user
        in: header
        description: Developer Account User ID
        required: true
        schema:
          type: string
      - name: mobileNo
        in: query
        description: Mobile No.
        required: true
        allowEmptyValue: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataUsageResponseVO'
        '400':
          description: Request Message is not correct
          content: {}
        '500':
          description: Internal Server Error.
          content: {}
      deprecated: false
  /device/diagnose/radius:
    get:
      tags:
      - Device & Session Information
      summary: Device Diagnose API
      description: Fetch Device Diagnose Radius Attributes.
      operationId: deviceDiagnoseRadiusUsingGET
      parameters:
      - name: Authorization
        in: header
        description: Authorization Header (Value must be like Bearer <Developer Access Token>)
        required: true
        schema:
          type: string
          default: Bearer XXXXXXXXXXXXXX
      - name: apikey
        in: header
        description: Developer API Key
        required: true
        schema:
          type: string
      - name: customer-id
        in: header
        description: 'Unique ID to identify Customer (shared during On-Boarding process) '
        required: true
        schema:
          type: integer
          format: int64
      - name: endDate
        in: query
        description: End DateTime For AAA Radius.  Format DD/MM/YYYY
        allowEmptyValue: false
        schema:
          type: string
      - name: iv-user
        in: header
        description: Developer Account User ID
        required: true
        schema:
          type: string
      - name: mobileNo
        in: query
        description: Mobile No.
        required: true
        allowEmptyValue: false
        schema:
          type: string
      - name: pageNo
        in: query
        description: Page Number in case of pagination. Default Page No. is 1.
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 1
      - name: pageSize
        in: query
        description: Page Size in pagination for AAA session details. Default Page Size is 20 and Maximum is 100.
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 20
      - name: startDate
        in: query
        description: Start DateTime For AAA Radius. Format DD/MM/YYYY
        allowEmptyValue: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceRadiusResponseVO'
        '400':
          description: Request Message is not correct
          content: {}
        '500':
          description: Internal Server Error.
          content: {}
      deprecated: false
  /bulk/dataUsages/download:
    post:
      tags:
      - Device & Session Information
      summary: Bulk Data Usage
      description: This API call is used to initiate download of Bulk data usage file from a specific Basket. It returns the file name along with creation and completion date for that basket. Since, the number of SIMs in a basket is restricted to 5000, hence the maximum number of SIMs in this Bulk data usage file will be 5000.
      operationId: downloadDataUsagesUsingPOST
      parameters:
      - name: Authorization
        in: header
        description: Authorization Header (Value must be like Bearer <Developer Access Token>)
        required: true
        schema:
          type: string
          default: Bearer XXXXXXXXXXXXXX
      - name: apikey
        in: header
        description: Developer API Key
        required: true
        schema:
          type: string
      - name: customer-id
        in: header
        description: 'Unique ID to identify Customer (shared during On-Boarding process) '
        required: true
        schema:
          type: integer
          format: int64
      - name: iv-user
        in: header
        description: Developer Account User ID
        required: true
        schema:
          type: string
      requestBody:
        description: basketDO
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BasketDO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadHistoryVO'
        '201':
          description: Resource Created Successfully
          content: {}
        '400':
          description: Request Message is not correct
          content: {}
        '500':
          description: Internal Server Error.
          content: {}
      deprecated: false
      x-codegen-request-body-name: basketDO
components:
  schemas:
    DataSegregation:
      title: DataSegregation
      type: object
      properties:
        activePlanQuota:
          $ref: '#/components/schemas/ActivePlanQuota'
        rolloverQuota:
          $ref: '#/components/schemas/RolloverQuota'
    DownloadHistoryVO:
      title: DownloadHistoryVO
      type: object
      properties:
        basketName:
          type: string
          description: Basket Name
        completionDate:
          type: string
          description: Download Request Completion Date and Time
        creationDate:
          type: string
          description: Download Request Creation Date and Time
        downloadFileId:
          type: integer
          description: Download Request ID
          format: int64
        downloadType:
          type: string
          description: Download Type
        extension:
          type: string
          description: File Extension
        fileName:
          type: string
          description: File Name
        progress:
          type: integer
          description: File Download Progress
          format: int32
        status:
          type: string
          description: Download Status
    RolloverQuota:
      title: RolloverQuota
      type: object
      properties:
        allocatedQuota:
          type: string
        availableQuota:
          type: string
        quotaUnit:
          type: string
    DeviceIMEIResponseVO:
      title: DeviceIMEIResponseVO
      type: object
      properties:
        deviceAttributes:
          type: array
          description: Device Attributes List
          items:
            $ref: '#/components/schemas/DeviceAttributesDO'
        deviceFrequencies:
          type: array
          description: Device Frequencies List.
          items:
            $ref: '#/components/schemas/DeviceFrequencyDO'
        deviceIMEI:
          type: string
          description: Device IMEI
        deviceIMEIChanged:
          type: boolean
        deviceModelNumber:
          type: string
          description: Device Model Number.
        deviceName:
          type: string
          description: Device Name
        deviceType:
          type: string
          description: Device Type
        operatingSystemName:
          type: string
          description: Operating System Name.
        operatingSystemProvider:
          type: string
          description: Operating System Provider
        operatingSystemVersion:
          type: string
          description: Operating System Version
        otaSupport:
          type: string
          description: OTA Support
        previousDeviceIMEI:
          type: string
          description: Previous Device IMEI
    DeviceFrequencyDO:
      title: DeviceFrequencyDO
      type: object
      properties:
        band:
          type: string
        technology:
          type: string
    RadiusObjects:
      title: RadiusObjects
      type: object
      properties:
        3GPPIMEISV:
          type: string
        3GPPIMSI:
          type: string
        3GPPIMSIMCCMNC:
          type: string
        3GPPRATType:
          type: string
        3GPPSessionStopIndicator:
          type: integer
          format: int64
        acctInputPackets:
          type: string
        acctOutputPackets:
          type: string
        acctSessionId:
          type: string
        acctStatusType:
          type: string
        acctTerminateCause:
          type: string
        calledStationId:
          type: string
        callingStationId:
          type: string
        framedIPAddress:
          type: string
        sessionStartTimestamp:
          type: string
        sessionStopTimestamp:
          type: string
        totalActiveSession:
          type: string
    DataUsageResponseVO:
      title: DataUsageResponseVO
      type: object
      properties:
        basketName:
          type: string
          description: Basket Name
        dataSegregation:
          $ref: '#/components/schemas/DataSegregation'
        dataUsageFound:
          type: boolean
        dataUsageUnits:
          type: string
        error:
          type: string
          description: Error Message
        mobileNo:
          type: string
          description: Mobile Number
        planCode:
          type: string
          description: Plan Code
        planName:
          type: string
          description: Plan Name
        prepaid:
          type: boolean
        remainingDataUsage:
          type: string
          description: Remaining Data
        simNo:
          type: string
          description: SIM Number
        totalDataUsage:
          type: string
          description: Total Data Usage
        usedDataUsage:
          type: string
          description: Used Data
    ActivePlanQuota:
      title: ActivePlanQuota
      type: object
      properties:
        allocatedQuota:
          type: string
        availableQuota:
          type: string
        quotaUnit:
          type: string
    BasketDO:
      title: BasketDO
      required:
      - basketId
      type: object
      properties:
        basketId:
          type: integer
          description: Basket ID
          format: int64
    DeviceAttributesDO:
      title: DeviceAttributesDO
      type: object
      properties:
        attrName:
          type: string
        attrValue:
          type: string
    DeviceRadiusResponseVO:
      title: DeviceRadiusResponseVO
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/RadiusObjects'
        resCode:
          type: string
        resStatus:
          type: string
        totalCount:
          type: integer
          format: int32
x-tagGroups:
- name: Manage Customer APIs
  tags:
  - Account Authorization
  - Account Details
  - Inventory Management
- name: New Orders APIs
  tags:
  - SIM LifeCycle
- name: Bulk Orders APIs
  tags:
  - SIM LifeCycle Bulk
- name: Jobs APIs
  tags:
  - Job Status
- name: Device Details APIs
  tags:
  - Device & Session Information
- name: Whitelisting APIs
  tags:
  - Whitelisting
- name: KYC APIs
  tags:
  - KYC Manager
- name: Messaging Centre APIs
  tags:
  - Messaging Centre
