openapi: 3.2.0
info:
  version: ''
  title: Airtel IoT SIM LifeCycle Bulk API
  contact:
    email: m2m.support@airtel.com
  description: '# Overview

    ## Introduction


    Airtel IoT Developer Portal showcases APIs that allows you

    to access data of the CMP Billable account from any external application.'
servers:
- url: https://m2m.airteliot.co.in/iot/api/
security: []
tags:
- name: SIM LifeCycle Bulk
  description: This API shall allow user to change the state of SIMs.
paths:
  /bulk/sim/download/template:
    post:
      tags:
      - SIM LifeCycle Bulk
      summary: Bulk Order Template Download
      description: This API call is used to download the Bulk template for performing Bulk Operations on the account. It returns the file in excel format for that Billable account.
      operationId: downloadBulkOrderTemplateUsingPOST
      parameters:
      - name: Authorization
        in: header
        description: Authorization Header (Value must be like Bearer <Developer Access Token>)
        required: true
        schema:
          type: string
          default: Bearer XXXXXXXXXXXXXX
      - name: apikey
        in: header
        description: Developer API Key
        required: true
        schema:
          type: string
      - name: customer-id
        in: header
        description: 'Unique ID to identify Customer (shared during On-Boarding process) '
        required: true
        schema:
          type: integer
          format: int64
      - name: iv-user
        in: header
        description: Developer Account User ID
        required: true
        schema:
          type: string
      requestBody:
        description: basketDO
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DownloadTemplate'
        required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadHistoryVO'
        '201':
          description: Resource Created Successfully
          content: {}
        '400':
          description: Request Message is not correct
          content: {}
        '500':
          description: Internal Server Error.
          content: {}
      deprecated: false
      x-codegen-request-body-name: basketDO
  /bulk/sim/upload:
    post:
      tags:
      - SIM LifeCycle Bulk
      summary: Bulk Upload
      description: This API call is used to upload the Bulk Operations template for performing Bulk Operations on the account. It returns the Job ID along with Order counts in success, failure or rejected status and number status.
      operationId: bulkUploadUsingPOST
      parameters:
      - name: Authorization
        in: header
        description: Authorization Header (Value must be like Bearer <Developer Access Token>)
        required: true
        schema:
          type: string
          default: Bearer XXXXXXXXXXXXXX
      - name: apikey
        in: header
        description: Developer API Key
        required: true
        schema:
          type: string
      - name: customer-id
        in: header
        description: 'Unique ID to identify Customer (shared during On-Boarding process) '
        required: true
        schema:
          type: integer
          format: int64
      - name: iv-user
        in: header
        description: Developer Account User ID
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - file
              properties:
                action:
                  description: action
                basketId:
                  description: basketId
                file:
                  type: string
                  description: File to upload.
                  format: binary
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobVO'
        '201':
          description: Resource Created Successfully
          content: {}
        '400':
          description: Request Message is not correct
          content: {}
        '500':
          description: Internal Server Error.
          content: {}
      deprecated: false
components:
  schemas:
    DownloadHistoryVO:
      title: DownloadHistoryVO
      type: object
      properties:
        basketName:
          type: string
          description: Basket Name
        completionDate:
          type: string
          description: Download Request Completion Date and Time
        creationDate:
          type: string
          description: Download Request Creation Date and Time
        downloadFileId:
          type: integer
          description: Download Request ID
          format: int64
        downloadType:
          type: string
          description: Download Type
        extension:
          type: string
          description: File Extension
        fileName:
          type: string
          description: File Name
        progress:
          type: integer
          description: File Download Progress
          format: int32
        status:
          type: string
          description: Download Status
    DownloadTemplate:
      title: DownloadTemplate
      required:
      - basketId
      type: object
      properties:
        action:
          type: string
          enum:
          - ALL
          - ACTIVATE_ORDER
          - CHANGE_ORDER
          - ACTIVATE_TEST_ORDER
        basketId:
          type: integer
          description: Basket ID
          format: int64
    JobVO:
      title: JobVO
      type: object
      properties:
        errorFileName:
          type: string
          description: Error File Name
        errorItemsCount:
          type: integer
          description: Count of Error items in uploaded file.
          format: int32
        failureCount:
          type: integer
          description: Failure Order Count
          format: int32
        inProgressCount:
          type: integer
          description: In Progress Order Count
          format: int32
        jobId:
          type: integer
          description: Job ID, in case a particular Job ID to be fetched
          format: int64
        jobType:
          type: string
          description: Job Type as defined in CMP
        orderCompletionTime:
          type: string
          description: End Date in a date range to fetch Job IDs
        orderCount:
          type: integer
          description: Order Count
          format: int32
        orderInitiateDate:
          type: string
          description: Start Date in a date range to fetch Job IDs
        rejectedCount:
          type: integer
          description: Rejected Order Count
          format: int32
        requestedOrderItems:
          type: integer
          description: Count of items requested in uploaded file.
          format: int32
        statusCode:
          type: string
          description: Job Status Code
        statusMessage:
          type: string
          description: Status of Job IDs
        successCount:
          type: integer
          description: Success Order Count
          format: int32
        uploadFileName:
          type: string
          description: Upload File Name
x-tagGroups:
- name: Manage Customer APIs
  tags:
  - Account Authorization
  - Account Details
  - Inventory Management
- name: New Orders APIs
  tags:
  - SIM LifeCycle
- name: Bulk Orders APIs
  tags:
  - SIM LifeCycle Bulk
- name: Jobs APIs
  tags:
  - Job Status
- name: Device Details APIs
  tags:
  - Device & Session Information
- name: Whitelisting APIs
  tags:
  - Whitelisting
- name: KYC APIs
  tags:
  - KYC Manager
- name: Messaging Centre APIs
  tags:
  - Messaging Centre
