openapi: 3.2.0
info:
  version: ''
  title: Airtel IoT Account Authorization API
  contact:
    email: m2m.support@airtel.com
  description: '# Overview

    ## Introduction


    Airtel IoT Developer Portal showcases APIs that allows you

    to access data of the CMP Billable account from any external application.'
servers:
- url: https://m2m.airteliot.co.in/iot/api/
security: []
tags:
- name: Account Authorization
  description: This set of APIs shall allow user to generate Access Token and refresh Access Token to perform any action on CMP via the API gateway.
paths:
  /auth/v2/generate/authtoken:
    post:
      tags:
      - Account Authorization
      summary: Generate Access Token
      description: This API shall allow user to generate Access Token to be used while doing any operations on the portal via APIs. **As per our recent upgrade, a new attribute 'refresh_expires_in' has been added to the response field which would display the time (in seconds) after which the refresh token would expire.**
      operationId: generateAccessTokenUsingPOST
      parameters:
      - name: apikey
        in: header
        description: apikey
        required: true
        schema:
          type: string
      - name: iv-user
        in: header
        description: Developer Account User ID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - client_id
              - client_secret
              properties:
                client_id:
                  type: string
                  description: Unique ID to Authorize Customer (shared during On-Boarding process)
                client_secret:
                  type: string
                  description: Developer Account Secret Key (shared during On-Boarding process) that shall be used to generate Token
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  properties: {}
        '201':
          description: Resource Created Successfully
          content: {}
        '400':
          description: Request Message is not correct
          content: {}
        '500':
          description: Internal Server Error.
          content: {}
      deprecated: false
  /auth/v2/refresh/authtoken:
    post:
      tags:
      - Account Authorization
      summary: Refresh Access Token
      description: This API shall allow user to refresh Access Token to be used while doing any operations on the portal via APIs.
      operationId: refreshAccessTokenUsingPOST
      parameters:
      - name: apikey
        in: header
        description: apikey
        required: true
        schema:
          type: string
      - name: iv-user
        in: header
        description: Developer Account User ID
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - refresh_token
              properties:
                refresh_token:
                  type: string
                  description: Token used to refresh access_token
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  properties: {}
        '201':
          description: Resource Created Successfully
          content: {}
        '400':
          description: Request Message is not correct
          content: {}
        '500':
          description: Internal Server Error.
          content: {}
      deprecated: false
x-tagGroups:
- name: Manage Customer APIs
  tags:
  - Account Authorization
  - Account Details
  - Inventory Management
- name: New Orders APIs
  tags:
  - SIM LifeCycle
- name: Bulk Orders APIs
  tags:
  - SIM LifeCycle Bulk
- name: Jobs APIs
  tags:
  - Job Status
- name: Device Details APIs
  tags:
  - Device & Session Information
- name: Whitelisting APIs
  tags:
  - Whitelisting
- name: KYC APIs
  tags:
  - KYC Manager
- name: Messaging Centre APIs
  tags:
  - Messaging Centre
