openapi: 3.2.0
info:
  version: ''
  title: Airtel IoT KYC Manager API
  contact:
    email: m2m.support@airtel.com
  description: '# Overview

    ## Introduction


    Airtel IoT Developer Portal showcases APIs that allows you

    to access data of the CMP Billable account from any external application.'
servers:
- url: https://m2m.airteliot.co.in/iot/api/
security: []
tags:
- name: KYC Manager
  description: This set of APIs to manage SIM KYC details.
paths:
  /kyc/sim/details:
    get:
      tags:
      - KYC Manager
      summary: Fetch SIM KYC Details
      description: FetchSIMKYCDetails API
      operationId: fetchSimKycDetailsListUsingGET
      parameters:
      - name: Authorization
        in: header
        description: Authorization Header (Value must be like Bearer <Developer Access Token>)
        required: true
        schema:
          type: string
          default: Bearer XXXXXXXXXXXXXX
      - name: activationDate
        in: query
        description: Activation date range on which SIMs will be filtered. Format DD/MM/YYYY - DD/MM/YYYY
        allowEmptyValue: false
        schema:
          type: string
      - name: apikey
        in: header
        description: Developer API Key
        required: true
        schema:
          type: string
      - name: basketId
        in: query
        description: basketId
        schema:
          type: integer
          format: int32
          default: 0
      - name: complianceDate
        in: query
        description: Compliance Date range on which SIMs will be filtered. Format DD/MM/YYYY - DD/MM/YYYY
        allowEmptyValue: false
        schema:
          type: string
      - name: customer-id
        in: header
        description: 'Unique ID to identify Customer (shared during On-Boarding process) '
        required: true
        schema:
          type: integer
          format: int64
      - name: iv-user
        in: header
        description: Developer Account User ID
        required: true
        schema:
          type: string
      - name: msisdn
        in: query
        description: Mobile No.
        allowEmptyValue: false
        schema:
          type: string
      - name: pageNo
        in: query
        description: pageNo
        schema:
          type: integer
          format: int32
          default: 1
      - name: pageSize
        in: query
        description: pageSize
        schema:
          type: integer
          format: int32
          default: 25
      - name: simNo
        in: query
        description: Sim No
        allowEmptyValue: false
        schema:
          type: string
      - name: status
        in: query
        description: Filter Type on which SIMs will be filtered. The allowed type are Compliant / Non-Compliant /Pending
        allowEmptyValue: false
        schema:
          type: string
          enum:
          - COMPLIANT
          - NON_COMPLIANT
          - PENDING
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimKycDetailsWOPlan'
        '400':
          description: Request Message is not correct
          content: {}
        '500':
          description: Internal Server Error.
          content: {}
      deprecated: false
  /kyc/sim/update:
    post:
      tags:
      - KYC Manager
      summary: Update SIM KYC details
      description: UpdateSIMKycDetails API
      operationId: updateSimKycDetailsUsingPOST
      parameters:
      - name: Authorization
        in: header
        description: Authorization Header (Value must be like Bearer <Developer Access Token>)
        required: true
        schema:
          type: string
          default: Bearer XXXXXXXXXXXXXX
      - name: apikey
        in: header
        description: Developer API Key
        required: true
        schema:
          type: string
      - name: customer-id
        in: header
        description: 'Unique ID to identify Customer (shared during On-Boarding process) '
        required: true
        schema:
          type: integer
          format: int64
      - name: iv-user
        in: header
        description: Developer Account User ID
        required: true
        schema:
          type: string
      requestBody:
        description: requestDo
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimKycDo'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSimKycResponseVo'
        '201':
          description: Resource Created Successfully
          content: {}
        '400':
          description: Request Message is not correct
          content: {}
        '500':
          description: Internal Server Error.
          content: {}
      deprecated: false
      x-codegen-request-body-name: requestDo
components:
  schemas:
    UpdateSimKycResponseVo:
      title: UpdateSimKycResponseVo
      type: object
      properties:
        message:
          type: string
    SimKycDetailsWOPlanVO:
      title: SimKycDetailsWOPlanVO
      type: object
      properties:
        activationDate:
          type: string
        complianceDate:
          type: string
        kycCompletionDate:
          type: string
        mobileNo:
          type: string
        simNo:
          type: string
        simStatus:
          type: string
        status:
          type: string
    SimKycDetailsWOPlan:
      title: SimKycDetailsWOPlan
      type: object
      properties:
        simKycList:
          type: array
          items:
            $ref: '#/components/schemas/SimKycDetailsWOPlanVO'
        totalRecords:
          type: integer
          format: int64
    SimKycDo:
      title: SimKycDo
      required:
      - custodianAddress
      - custodianName
      - deviceImei
      - deviceModel
      - deviceType
      - mobileNo
      - registrationNo
      type: object
      properties:
        attribute1:
          type: string
        attribute2:
          type: string
        attribute3:
          type: string
        attribute4:
          type: string
        attribute5:
          type: string
        custodianAddress:
          type: string
          description: custodian address.
        custodianName:
          type: string
          description: custodian name.
        deviceImei:
          type: string
          description: device imei.
        deviceModel:
          type: string
          description: device model.
        deviceType:
          type: string
          description: type of device.
          enum:
          - VEHICLE_TRACKING
          - SMART_METER
          - ASSET_TRACKING
          - POS_MACHINE
          - HOME_AUTOMATION
          - INDUSTRIAL_AUTOMATION
          - SURVEILLANCE
          - PERSONAL_TRACKER
          - TRAFFIC_MANAGEMENT
          - OTHERS
        deviceTypeOthers:
          type: string
          description: Device Type(Others)
        mobileNo:
          type: string
          description: mobilerNumber for which kyc needs to be done.
        registrationNo:
          type: string
          description: registration number.
x-tagGroups:
- name: Manage Customer APIs
  tags:
  - Account Authorization
  - Account Details
  - Inventory Management
- name: New Orders APIs
  tags:
  - SIM LifeCycle
- name: Bulk Orders APIs
  tags:
  - SIM LifeCycle Bulk
- name: Jobs APIs
  tags:
  - Job Status
- name: Device Details APIs
  tags:
  - Device & Session Information
- name: Whitelisting APIs
  tags:
  - Whitelisting
- name: KYC APIs
  tags:
  - KYC Manager
- name: Messaging Centre APIs
  tags:
  - Messaging Centre
