openapi: 3.2.0
info:
  version: ''
  title: Airtel IoT Whitelisting API
  contact:
    email: m2m.support@airtel.com
  description: '# Overview

    ## Introduction


    Airtel IoT Developer Portal showcases APIs that allows you

    to access data of the CMP Billable account from any external application.'
servers:
- url: https://m2m.airteliot.co.in/iot/api/
security: []
tags:
- name: Whitelisting
  description: This set of APIs to manage whitelisting numbers on Airtel IoT portal in Batch
paths:
  /wt/numbers:
    get:
      tags:
      - Whitelisting
      summary: Fetch SMS Whitelisted Number
      description: Fetch SMS Whitelisted Number by msisdn, simNo,basketName,pageNo,pagesize
      operationId: fetchSMSWhitelistedNumbersUsingGET
      parameters:
      - name: Authorization
        in: header
        description: Authorization Header (Value must be like Bearer <Developer Access Token>)
        required: true
        schema:
          type: string
          default: Bearer XXXXXXXXXXXXXX
      - name: apikey
        in: header
        description: Developer API Key
        required: true
        schema:
          type: string
      - name: basketId
        in: query
        description: Basket ID
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
      - name: customer-id
        in: header
        description: 'Unique ID to identify Customer (shared during On-Boarding process) '
        required: true
        schema:
          type: integer
          format: int64
      - name: iv-user
        in: header
        description: Developer Account User ID
        required: true
        schema:
          type: string
      - name: msisdn
        in: query
        description: msisdn
        allowEmptyValue: false
        schema:
          type: string
      - name: pageNo
        in: query
        description: Page Number in case of pagination. Default Page No. is 1.
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 1
      - name: pageSize
        in: query
        description: Page Size in pagination. Default Page Size is 25 and Maximum is 100.
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 25
      - name: simNo
        in: query
        description: SIM Number
        allowEmptyValue: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SMSWTLResponse'
        '400':
          description: Request Message is not correct
          content: {}
        '500':
          description: Internal Server Error.
          content: {}
      deprecated: false
  /wt/numbers/batch:
    post:
      tags:
      - Whitelisting
      summary: SMS Batch Whitelisting API
      description: SMS batch whitelisting on Airtel IoT portal. Minimum 1 and Maximum 100 MSISDN can be whitelisted at once
      operationId: smsWhitelistedNumbersBatchUsingPOST
      parameters:
      - name: Authorization
        in: header
        description: Authorization Header (Value must be like Bearer <Developer Access Token>)
        required: true
        schema:
          type: string
          default: Bearer XXXXXXXXXXXXXX
      - name: apikey
        in: header
        description: Developer API Key
        required: true
        schema:
          type: string
      - name: customer-id
        in: header
        description: 'Unique ID to identify Customer (shared during On-Boarding process) '
        required: true
        schema:
          type: integer
          format: int64
      - name: iv-user
        in: header
        description: Developer Account User ID
        required: true
        schema:
          type: string
      requestBody:
        description: requestDO
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmsWhitelistBatchDO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobVO'
        '201':
          description: Resource Created Successfully
          content: {}
        '400':
          description: Request Message is not correct
          content: {}
        '500':
          description: Internal Server Error.
          content: {}
      deprecated: false
      x-codegen-request-body-name: requestDO
  /voice/numbers:
    get:
      tags:
      - Whitelisting
      summary: Fetch Voice Whitelist Numbers from CMP
      description: This API will fetch all numbers for Voice Whitelist on CMP portal with existing whitelisted records
      operationId: fetchVoiceWhitelistedNumbersUsingGET
      parameters:
      - name: Authorization
        in: header
        description: Authorization Header (Value must be like Bearer <Developer Access Token>)
        required: true
        schema:
          type: string
          default: Bearer XXXXXXXXXXXXXX
      - name: apikey
        in: header
        description: Developer API Key
        required: true
        schema:
          type: string
      - name: customer-id
        in: header
        description: 'Unique ID to identify Customer (shared during On-Boarding process) '
        required: true
        schema:
          type: integer
          format: int64
      - name: iv-user
        in: header
        description: Developer Account User ID
        required: true
        schema:
          type: string
      - name: msisdn
        in: query
        description: msisdn
        allowEmptyValue: false
        schema:
          type: string
      - name: pageNo
        in: query
        description: Page Number in case of pagination. Default Page No. is 1.
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 1
      - name: pageSize
        in: query
        description: Page Size in pagination. Default Page Size is 25 and Maximum is 100.
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 25
      - name: simNo
        in: query
        description: SIM Number
        allowEmptyValue: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhitelistResponse'
        '400':
          description: Request Message is not correct
          content: {}
        '500':
          description: Internal Server Error.
          content: {}
      deprecated: false
components:
  schemas:
    SmsWhitelistBatchDO:
      title: SmsWhitelistBatchDO
      type: object
      properties:
        simWTDoList:
          type: array
          items:
            $ref: '#/components/schemas/SmsWhitelistNoDO'
    WhitelistResponse:
      title: WhitelistResponse
      type: object
      properties:
        total:
          type: integer
          format: int32
        whitelistDetails:
          type: array
          items:
            $ref: '#/components/schemas/WhitelistVO'
    SMSWTLResponse:
      title: SMSWTLResponse
      type: object
      properties:
        smsWTDetailsVO:
          type: array
          items:
            $ref: '#/components/schemas/SMSWTLDetailsVO'
        total:
          type: integer
          format: int32
    JobVO:
      title: JobVO
      type: object
      properties:
        errorFileName:
          type: string
          description: Error File Name
        errorItemsCount:
          type: integer
          description: Count of Error items in uploaded file.
          format: int32
        failureCount:
          type: integer
          description: Failure Order Count
          format: int32
        inProgressCount:
          type: integer
          description: In Progress Order Count
          format: int32
        jobId:
          type: integer
          description: Job ID, in case a particular Job ID to be fetched
          format: int64
        jobType:
          type: string
          description: Job Type as defined in CMP
        orderCompletionTime:
          type: string
          description: End Date in a date range to fetch Job IDs
        orderCount:
          type: integer
          description: Order Count
          format: int32
        orderInitiateDate:
          type: string
          description: Start Date in a date range to fetch Job IDs
        rejectedCount:
          type: integer
          description: Rejected Order Count
          format: int32
        requestedOrderItems:
          type: integer
          description: Count of items requested in uploaded file.
          format: int32
        statusCode:
          type: string
          description: Job Status Code
        statusMessage:
          type: string
          description: Status of Job IDs
        successCount:
          type: integer
          description: Success Order Count
          format: int32
        uploadFileName:
          type: string
          description: Upload File Name
    SMSWTLDetailsVO:
      title: SMSWTLDetailsVO
      type: object
      properties:
        basketName:
          type: string
        msisdn:
          type: string
        remainingOrderCount:
          type: string
        simNo:
          type: string
        whitelistNumber1:
          type: string
        whitelistNumber2:
          type: string
        whitelistNumber3:
          type: string
        whitelistNumber4:
          type: string
        whitelistType1:
          type: string
        whitelistType2:
          type: string
        whitelistType3:
          type: string
        whitelistType4:
          type: string
    WhitelistVO:
      title: WhitelistVO
      type: object
      properties:
        basketName:
          type: string
        msisdn:
          type: string
        remainingOrderCount:
          type: integer
          format: int32
        simNo:
          type: string
        voiceWhitelisted:
          type: string
        whitelistNumber1:
          type: string
        whitelistNumber2:
          type: string
        whitelistNumber3:
          type: string
        whitelistNumber4:
          type: string
        whitelistType1:
          type: string
        whitelistType2:
          type: string
        whitelistType3:
          type: string
        whitelistType4:
          type: string
    SmsWhitelistNoDO:
      title: SmsWhitelistNoDO
      required:
      - msisdn
      type: object
      properties:
        msisdn:
          type: string
          description: Mobile No.
        whitelistNumber1:
          type: string
          description: First number for whitelist
        whitelistNumber2:
          type: string
          description: Second number for whitelist
        whitelistNumber3:
          type: string
          description: Third number for whitelist
        whitelistNumber4:
          type: string
          description: Fourth number for whitelist
        whitelistNumberType1:
          type: string
          example: INCOMING
          enum:
          - ${SmsWhitelistNoDO.SMSWtlTypes.allowableValues}
        whitelistNumberType2:
          type: string
          example: INCOMING
          enum:
          - ${SmsWhitelistNoDO.SMSWtlTypes.allowableValues}
        whitelistNumberType3:
          type: string
          example: OUTGOING
          enum:
          - ${SmsWhitelistNoDO.SMSWtlTypes.allowableValues}
        whitelistNumberType4:
          type: string
          example: OUTGOING
          enum:
          - ${SmsWhitelistNoDO.SMSWtlTypes.allowableValues}
x-tagGroups:
- name: Manage Customer APIs
  tags:
  - Account Authorization
  - Account Details
  - Inventory Management
- name: New Orders APIs
  tags:
  - SIM LifeCycle
- name: Bulk Orders APIs
  tags:
  - SIM LifeCycle Bulk
- name: Jobs APIs
  tags:
  - Job Status
- name: Device Details APIs
  tags:
  - Device & Session Information
- name: Whitelisting APIs
  tags:
  - Whitelisting
- name: KYC APIs
  tags:
  - KYC Manager
- name: Messaging Centre APIs
  tags:
  - Messaging Centre
