openapi: 3.2.0
info:
  version: ''
  title: Airtel IoT SIM LifeCycle API
  contact:
    email: m2m.support@airtel.com
  description: '# Overview

    ## Introduction


    Airtel IoT Developer Portal showcases APIs that allows you

    to access data of the CMP Billable account from any external application.'
servers:
- url: https://m2m.airteliot.co.in/iot/api/
security: []
tags:
- name: SIM LifeCycle
  description: This API shall allow user to change the state of SIMs.
paths:
  /job/activate/sim/from/test:
    post:
      tags:
      - SIM LifeCycle
      summary: Activate SIM from Test Mode
      description: This API shall allow user to change the Bill Plan on a particular SIM from test plan to the commercial plan associated with that Billable account. It requires inputs as mobile number and target plan code.
      operationId: activateSimFromTestUsingPOST
      parameters:
      - name: Authorization
        in: header
        description: Authorization Header (Value must be like Bearer <Developer Access Token>)
        required: true
        schema:
          type: string
          default: Bearer XXXXXXXXXXXXXX
      - name: apikey
        in: header
        description: Developer API Key
        required: true
        schema:
          type: string
      - name: customer-id
        in: header
        description: 'Unique ID to identify Customer (shared during On-Boarding process) '
        required: true
        schema:
          type: integer
          format: int64
      - name: iv-user
        in: header
        description: Developer Account User ID
        required: true
        schema:
          type: string
      requestBody:
        description: changePlanOrder
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateOrderWithPlan'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobVO'
        '201':
          description: Resource Created Successfully
          content: {}
        '400':
          description: Request Message is not correct
          content: {}
        '500':
          description: Internal Server Error.
          content: {}
      deprecated: false
      x-codegen-request-body-name: changePlanOrder
  /job/change/plan:
    post:
      tags:
      - SIM LifeCycle
      summary: Change Plan
      description: This API shall allow user to change the Bill Plan on a particular SIM from one Plan to the other Plan associated with that Billable account. It requires inputs as mobile number and target plan code.
      operationId: changePlanUsingPOST
      parameters:
      - name: Authorization
        in: header
        description: Authorization Header (Value must be like Bearer <Developer Access Token>)
        required: true
        schema:
          type: string
          default: Bearer XXXXXXXXXXXXXX
      - name: apikey
        in: header
        description: Developer API Key
        required: true
        schema:
          type: string
      - name: customer-id
        in: header
        description: 'Unique ID to identify Customer (shared during On-Boarding process) '
        required: true
        schema:
          type: integer
          format: int64
      - name: iv-user
        in: header
        description: Developer Account User ID
        required: true
        schema:
          type: string
      requestBody:
        description: changePlanOrder
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateOrderWithPlan'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobVO'
        '201':
          description: Resource Created Successfully
          content: {}
        '400':
          description: Request Message is not correct
          content: {}
        '500':
          description: Internal Server Error.
          content: {}
      deprecated: false
      x-codegen-request-body-name: changePlanOrder
  /job/sim/activate:
    post:
      tags:
      - SIM LifeCycle
      summary: Activate SIM
      description: This API shall allow user to change the state of SIM from Available (Ready to Activate) to Active with Plan that is associated with the Billable account. It requires inputs as mobile number and plan code.
      operationId: activateSimsUsingPOST
      parameters:
      - name: Authorization
        in: header
        description: Authorization Header (Value must be like Bearer <Developer Access Token>)
        required: true
        schema:
          type: string
          default: Bearer XXXXXXXXXXXXXX
      - name: apikey
        in: header
        description: Developer API Key
        required: true
        schema:
          type: string
      - name: customer-id
        in: header
        description: 'Unique ID to identify Customer (shared during On-Boarding process) '
        required: true
        schema:
          type: integer
          format: int64
      - name: iv-user
        in: header
        description: Developer Account User ID
        required: true
        schema:
          type: string
      requestBody:
        description: generateOrder
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateOrderWithPlan'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobVO'
        '201':
          description: Resource Created Successfully
          content: {}
        '400':
          description: Request Message is not correct
          content: {}
        '500':
          description: Internal Server Error.
          content: {}
      deprecated: false
      x-codegen-request-body-name: generateOrder
  /job/sim/swap:
    post:
      tags:
      - SIM LifeCycle
      summary: Swap SIM
      description: In case the user wishes to replace SIM card associated with a Mobile number, in case of any issue with the SIM, this API shall allow user to change the SIM on that Billable account. It requires inputs as source SIM and target SIM number.
      operationId: swapSimUsingPOST
      parameters:
      - name: Authorization
        in: header
        description: Authorization Header (Value must be like Bearer <Developer Access Token>)
        required: true
        schema:
          type: string
          default: Bearer XXXXXXXXXXXXXX
      - name: apikey
        in: header
        description: Developer API Key
        required: true
        schema:
          type: string
      - name: customer-id
        in: header
        description: 'Unique ID to identify Customer (shared during On-Boarding process) '
        required: true
        schema:
          type: integer
          format: int64
      - name: iv-user
        in: header
        description: Developer Account User ID
        required: true
        schema:
          type: string
      requestBody:
        description: swapSim
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SwapSim'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobVO'
        '201':
          description: Resource Created Successfully
          content: {}
        '400':
          description: Request Message is not correct
          content: {}
        '500':
          description: Internal Server Error.
          content: {}
      deprecated: false
      x-codegen-request-body-name: swapSim
  /job/sim/voluntary/suspend:
    post:
      tags:
      - SIM LifeCycle
      summary: Safe Custody
      description: In case the user wishes to voluntarily suspend the SIM card for sometime, there is an option to put the SIM in safe custody. This API shall allow user to put the SIM in safe custody on that Billable account. It requires inputs as mobile number.
      operationId: safeCustodyUsingPOST
      parameters:
      - name: Authorization
        in: header
        description: Authorization Header (Value must be like Bearer <Developer Access Token>)
        required: true
        schema:
          type: string
          default: Bearer XXXXXXXXXXXXXX
      - name: apikey
        in: header
        description: Developer API Key
        required: true
        schema:
          type: string
      - name: customer-id
        in: header
        description: 'Unique ID to identify Customer (shared during On-Boarding process) '
        required: true
        schema:
          type: integer
          format: int64
      - name: iv-user
        in: header
        description: Developer Account User ID
        required: true
        schema:
          type: string
      requestBody:
        description: generateOrder
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateOrder'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobVO'
        '201':
          description: Resource Created Successfully
          content: {}
        '400':
          description: Request Message is not correct
          content: {}
        '500':
          description: Internal Server Error.
          content: {}
      deprecated: false
      x-codegen-request-body-name: generateOrder
  /job/sim/voluntary/resume:
    post:
      tags:
      - SIM LifeCycle
      summary: Out of Safe Custody
      description: In case the user wishes to change the number state from Suspended to Active state, this API shall allow user to do the same on that Billable account. It requires inputs as mobile number.
      operationId: outOfSafeCustodyUsingPOST
      parameters:
      - name: Authorization
        in: header
        description: Authorization Header (Value must be like Bearer <Developer Access Token>)
        required: true
        schema:
          type: string
          default: Bearer XXXXXXXXXXXXXX
      - name: apikey
        in: header
        description: Developer API Key
        required: true
        schema:
          type: string
      - name: customer-id
        in: header
        description: 'Unique ID to identify Customer (shared during On-Boarding process) '
        required: true
        schema:
          type: integer
          format: int64
      - name: iv-user
        in: header
        description: Developer Account User ID
        required: true
        schema:
          type: string
      requestBody:
        description: generateOrder
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateOrder'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobVO'
        '201':
          description: Resource Created Successfully
          content: {}
        '400':
          description: Request Message is not correct
          content: {}
        '500':
          description: Internal Server Error.
          content: {}
      deprecated: false
      x-codegen-request-body-name: generateOrder
  /job/temp/disconnect:
    post:
      tags:
      - SIM LifeCycle
      summary: Temp Disconnection
      description: This API is used to initiate disconnection of M2M SIMs. Initially, SIMs will go into temporary disconnection for 5 days and then SIMs will be permanently disconnected on completion of 5 days.
      operationId: tempDisconnectionUsingPOST
      parameters:
      - name: Authorization
        in: header
        description: Authorization Header (Value must be like Bearer <Developer Access Token>)
        required: true
        schema:
          type: string
          default: Bearer XXXXXXXXXXXXXX
      - name: apikey
        in: header
        description: Developer API Key
        required: true
        schema:
          type: string
      - name: customer-id
        in: header
        description: 'Unique ID to identify Customer (shared during On-Boarding process) '
        required: true
        schema:
          type: integer
          format: int64
      - name: iv-user
        in: header
        description: Developer Account User ID
        required: true
        schema:
          type: string
      requestBody:
        description: generateOrder
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeneratedTempDisconnectOrder'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobVO'
        '201':
          description: Resource Created Successfully
          content: {}
        '400':
          description: Request Message is not correct
          content: {}
        '500':
          description: Internal Server Error.
          content: {}
      deprecated: false
      x-codegen-request-body-name: generateOrder
  /job/td/resume:
    post:
      tags:
      - SIM LifeCycle
      summary: Resume from TD
      description: This API is used to resume SIMs from temporary disconnection within 5 days of initiation of disconnection.
      operationId: tdResumeUsingPOST
      parameters:
      - name: Authorization
        in: header
        description: Authorization Header (Value must be like Bearer <Developer Access Token>)
        required: true
        schema:
          type: string
          default: Bearer XXXXXXXXXXXXXX
      - name: apikey
        in: header
        description: Developer API Key
        required: true
        schema:
          type: string
      - name: customer-id
        in: header
        description: 'Unique ID to identify Customer (shared during On-Boarding process) '
        required: true
        schema:
          type: integer
          format: int64
      - name: iv-user
        in: header
        description: Developer Account User ID
        required: true
        schema:
          type: string
      requestBody:
        description: generateOrder
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateOrder'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobVO'
        '201':
          description: Resource Created Successfully
          content: {}
        '400':
          description: Request Message is not correct
          content: {}
        '500':
          description: Internal Server Error.
          content: {}
      deprecated: false
      x-codegen-request-body-name: generateOrder
  /job/activate/test/sims:
    post:
      tags:
      - SIM LifeCycle
      summary: Activate SIM in Test Mode
      description: This API shall allow user to change the state of SIM from Available (Ready to Activate) to Activate in Test Mode. It requires inputs as mobile number and plan code.
      operationId: activateTestSimsUsingPOST
      parameters:
      - name: Authorization
        in: header
        description: Authorization Header (Value must be like Bearer <Developer Access Token>)
        required: true
        schema:
          type: string
          default: Bearer XXXXXXXXXXXXXX
      - name: apikey
        in: header
        description: Developer API Key
        required: true
        schema:
          type: string
      - name: customer-id
        in: header
        description: 'Unique ID to identify Customer (shared during On-Boarding process) '
        required: true
        schema:
          type: integer
          format: int64
      - name: iv-user
        in: header
        description: Developer Account User ID
        required: true
        schema:
          type: string
      requestBody:
        description: generateOrder
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateOrderWithPlan'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobVO'
        '201':
          description: Resource Created Successfully
          content: {}
        '400':
          description: Request Message is not correct
          content: {}
        '500':
          description: Internal Server Error.
          content: {}
      deprecated: false
      x-codegen-request-body-name: generateOrder
components:
  schemas:
    GeneratedTempDisconnectOrder:
      title: GeneratedTempDisconnectOrder
      required:
      - reason
      - simDOList
      type: object
      properties:
        reason:
          type: string
          description: Disconnection Reason.
          enum:
          - NUMBER_NOT_REQUIRED
          - PRICING_CONCERN
          - NETWORK_COVERAGE_ISSUE
          - BILLING_OR_COLLECTION_ISSUE
          - CONTRACT_EXPIRED
        simDOList:
          type: array
          description: List of SIM
          items:
            $ref: '#/components/schemas/SimDO'
    GenerateOrder:
      title: GenerateOrder
      required:
      - simDOList
      type: object
      properties:
        simDOList:
          type: array
          description: List of SIM
          items:
            $ref: '#/components/schemas/SimDO'
    SimDO:
      title: SimDO
      required:
      - mobileNO
      type: object
      properties:
        mobileNO:
          type: string
          description: Mobile No.
    SwapSim:
      title: SwapSim
      type: object
      properties:
        existingSIMNo:
          type: string
        newSIMNo:
          type: string
    SimDOWithPlan:
      title: SimDOWithPlan
      required:
      - mobileNO
      type: object
      properties:
        mobileNO:
          type: string
          description: Mobile No.
        planDO:
          $ref: '#/components/schemas/PlanDO'
    JobVO:
      title: JobVO
      type: object
      properties:
        errorFileName:
          type: string
          description: Error File Name
        errorItemsCount:
          type: integer
          description: Count of Error items in uploaded file.
          format: int32
        failureCount:
          type: integer
          description: Failure Order Count
          format: int32
        inProgressCount:
          type: integer
          description: In Progress Order Count
          format: int32
        jobId:
          type: integer
          description: Job ID, in case a particular Job ID to be fetched
          format: int64
        jobType:
          type: string
          description: Job Type as defined in CMP
        orderCompletionTime:
          type: string
          description: End Date in a date range to fetch Job IDs
        orderCount:
          type: integer
          description: Order Count
          format: int32
        orderInitiateDate:
          type: string
          description: Start Date in a date range to fetch Job IDs
        rejectedCount:
          type: integer
          description: Rejected Order Count
          format: int32
        requestedOrderItems:
          type: integer
          description: Count of items requested in uploaded file.
          format: int32
        statusCode:
          type: string
          description: Job Status Code
        statusMessage:
          type: string
          description: Status of Job IDs
        successCount:
          type: integer
          description: Success Order Count
          format: int32
        uploadFileName:
          type: string
          description: Upload File Name
    GenerateOrderWithPlan:
      title: GenerateOrderWithPlan
      required:
      - simDOList
      type: object
      properties:
        simDOList:
          type: array
          description: List of SIM
          items:
            $ref: '#/components/schemas/SimDOWithPlan'
    PlanDO:
      title: PlanDO
      required:
      - planCode
      type: object
      properties:
        planCode:
          type: string
          description: Plan Code
x-tagGroups:
- name: Manage Customer APIs
  tags:
  - Account Authorization
  - Account Details
  - Inventory Management
- name: New Orders APIs
  tags:
  - SIM LifeCycle
- name: Bulk Orders APIs
  tags:
  - SIM LifeCycle Bulk
- name: Jobs APIs
  tags:
  - Job Status
- name: Device Details APIs
  tags:
  - Device & Session Information
- name: Whitelisting APIs
  tags:
  - Whitelisting
- name: KYC APIs
  tags:
  - KYC Manager
- name: Messaging Centre APIs
  tags:
  - Messaging Centre
