openapi: 3.2.0
info:
  description: "Airtel Locate platform enables enterprises and small businesses to easily track device location to enhance their IoT use cases irrespective of device's GPS capabilities. Airtel Locate APIs will allow you to easily get Assets' location and manage consent. \n\nKey word : \n* MSISDN – represents a valid 10 or 13 digit airtel mobile number \n* Locate – Airtel Locate platform\n* Resource – a resource is equivalent to a MSISDN\n* Location – location of the resource \n* License – represents an Airtel Locate customer’s commercial license to use location API’s "
  version: 1.4.8
  title: Locate API Catalog Authorization API
  contact:
    name: Support
    email: locate.support@airtel.com
servers:
- url: https://openapi.airtel.in/
tags:
- name: Authorization API
  description: This API will help you to generate token from the client credentials shared upon subscription to location services. In case you have not yet subscribed to location service, email us to locate.support@airtel.com
paths:
  /locate/apis/customers/{customerBaId}/oauth2_token:
    post:
      tags:
      - Authorization API
      summary: Generate Oauth token
      description: This API will generate Access Token for given scope. Generated token will be valid for 24 hours. To access Airtel Locate APIs, user will need generated access token.
      operationId: getOrCreateOauthTokenUsingPOST_2
      parameters:
      - name: customerBaId
        in: path
        description: customerBaId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessTokenRequest'
        description: credentials
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OauthAccessToken'
        '400':
          description: Bad request for invalid scope
        '401':
          description: Unauthorized
        '404':
          description: Customer BA ID not found
      deprecated: false
components:
  schemas:
    OauthAccessToken:
      type: object
      required:
      - access_token
      - expires_in
      - token_type
      properties:
        access_token:
          type: string
        expires_in:
          type: integer
          format: int64
        token_type:
          type: string
      title: OauthAccessToken
    AccessTokenRequest:
      type: object
      required:
      - client_id
      - client_secret
      - scope
      properties:
        client_id:
          type: string
        client_secret:
          type: string
        scope:
          type: string
          example: location
          enum:
          - location
          - resource
      title: AccessTokenRequest
