openapi: 3.2.0
info:
  version: ''
  title: Airtel IoT Account Details API
  contact:
    email: m2m.support@airtel.com
  description: '# Overview

    ## Introduction


    Airtel IoT Developer Portal showcases APIs that allows you

    to access data of the CMP Billable account from any external application.'
servers:
- url: https://m2m.airteliot.co.in/iot/api/
security: []
tags:
- name: Account Details
  description: This set of APIs fetch various details about a Billable Customer Account including Customer Profile, Plan details, User details and so on.
paths:
  /details/:
    get:
      tags:
      - Account Details
      summary: Fetch Customer Profile
      description: This API shall allow user to fetch the overall profile of Customer as created at the time of On-Boarding.
      operationId: fetchCustomerProfileUsingGET
      parameters:
      - name: Authorization
        in: header
        description: Authorization Header (Value must be like Bearer <Developer Access Token>)
        required: true
        schema:
          type: string
          default: Bearer XXXXXXXXXXXXXX
      - name: apikey
        in: header
        description: Developer API Key
        required: true
        schema:
          type: string
      - name: customer-id
        in: header
        description: 'Unique ID to identify Customer (shared during On-Boarding process) '
        required: true
        schema:
          type: integer
          format: int64
      - name: iv-user
        in: header
        description: Developer Account User ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerDetailsVO'
        '400':
          description: Request Message is not correct
          content: {}
        '500':
          description: Internal Server Error.
          content: {}
      deprecated: false
  /details/stats:
    get:
      tags:
      - Account Details
      summary: Fetch Customer Statistics
      description: This API shall allow user to fetch the SIM Inventory statistics of a Customer Account at any given time. It returns the summary of SIM inventory as itâs shown on CMP portal.
      operationId: fetchCustomerStatsUsingGET
      parameters:
      - name: Authorization
        in: header
        description: Authorization Header (Value must be like Bearer <Developer Access Token>)
        required: true
        schema:
          type: string
          default: Bearer XXXXXXXXXXXXXX
      - name: apikey
        in: header
        description: Developer API Key
        required: true
        schema:
          type: string
      - name: customer-id
        in: header
        description: 'Unique ID to identify Customer (shared during On-Boarding process) '
        required: true
        schema:
          type: integer
          format: int64
      - name: iv-user
        in: header
        description: Developer Account User ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerStats'
        '400':
          description: Request Message is not correct
          content: {}
        '500':
          description: Internal Server Error.
          content: {}
      deprecated: false
  /details/plans:
    get:
      tags:
      - Account Details
      summary: Fetch Customer Plans
      description: This API shall allow user to fetch the details of Plans that are associated with the Customer Account. It returns the Plan code, plan name and plan description as defined on the account.
      operationId: fetchCustomerPlansUsingGET_1
      parameters:
      - name: Authorization
        in: header
        description: Authorization Header (Value must be like Bearer <Developer Access Token>)
        required: true
        schema:
          type: string
          default: Bearer XXXXXXXXXXXXXX
      - name: apikey
        in: header
        description: Developer API Key
        required: true
        schema:
          type: string
      - name: customer-id
        in: header
        description: 'Unique ID to identify Customer (shared during On-Boarding process) '
        required: true
        schema:
          type: integer
          format: int64
      - name: iv-user
        in: header
        description: Developer Account User ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlanDetailsVO'
        '400':
          description: Request Message is not correct
          content: {}
        '500':
          description: Internal Server Error.
          content: {}
      deprecated: false
components:
  schemas:
    UserStats:
      title: UserStats
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
        totalUserBaskets:
          type: string
        totalUserSims:
          type: string
        userId:
          type: string
    CustomerAddressVO:
      title: CustomerAddressVO
      type: object
      properties:
        addressLine1:
          type: string
        addressLine2:
          type: string
        addressLine3:
          type: string
        addressType:
          type: string
        billingAddress:
          type: string
        city:
          type: string
        country:
          type: string
        pincode:
          type: string
        state:
          type: string
    CustomerContactsVO:
      title: CustomerContactsVO
      type: object
      properties:
        emailAddress:
          type: string
        isPrimary:
          type: string
        mobileNo:
          type: string
        type:
          type: string
    CustomerPreferencesVO:
      title: CustomerPreferencesVO
      type: object
      properties:
        additionalCustEmailId:
          type: string
        additionalCustMobileNo:
          type: string
        additionalCustName:
          type: string
        additionalCustomerEmailId:
          type: string
        additionalCustomerMobileNo:
          type: string
        additionalCustomerName:
          type: string
        alternatePhoneNumber:
          type: string
        attribute1:
          type: string
        attribute2:
          type: string
        attribute3:
          type: string
        attribute4:
          type: string
        attribute5:
          type: string
        createdBy:
          type: string
        createdOn:
          type: string
        defaultAddress:
          type: string
        defaultEmail:
          type: string
        lastUpdatedBy:
          type: string
        lastUpdatedOn:
          type: string
        notifyActivationSim:
          type: boolean
        notifyBasketCreated:
          type: boolean
        notifyByEmail:
          type: boolean
        notifyBySMS:
          type: boolean
        notifyBySms:
          type: boolean
        notifyFreshOrder:
          type: boolean
        notifyLOC:
          type: boolean
        notifyLoc:
          type: boolean
        notifyPlanChange:
          type: boolean
        notifyPlanChanged:
          type: boolean
        notifySimActivation:
          type: boolean
        prepaidCustomer:
          type: boolean
        primaryPhoneNumber:
          type: string
        primaryPhoneNumberSetDefault:
          type: boolean
    PlanDetailsVO:
      title: PlanDetailsVO
      type: object
      properties:
        planCode:
          type: string
        planDescription:
          type: string
        planName:
          type: string
        testPlan:
          type: boolean
    CustomerDetailsVO:
      title: CustomerDetailsVO
      type: object
      properties:
        aadhaarNo:
          type: string
        accountCategory:
          type: string
        accountType:
          type: string
        activeSIMs:
          type: integer
          format: int32
        address:
          type: string
        alternatePhoneNumber:
          type: string
        apn:
          type: string
        attribute1:
          type: string
        attribute2:
          type: string
        availableSIMs:
          type: integer
          format: int32
        billCycle:
          type: string
        billCycleCutOff:
          type: string
        billMedia:
          type: string
        billType:
          type: string
        billingAddress:
          type: string
        billingCycle:
          type: string
        caAccountNo:
          type: string
        circleId:
          type: string
        cmpType:
          type: string
        companyCode:
          type: string
        coordinatorEmailId:
          type: string
        coordinatorMobile:
          type: string
        coordinatorName:
          type: string
        createdBy:
          type: string
        createdOn:
          type: string
        creditLimit:
          type: string
        crm:
          type: string
        custClass:
          type: string
        custRank:
          type: string
        customerAccountNumber:
          type: string
        customerAddressVO:
          type: array
          items:
            $ref: '#/components/schemas/CustomerAddressVO'
        customerBillableId:
          type: string
        customerCircleId:
          type: string
        customerContactsVO:
          type: array
          items:
            $ref: '#/components/schemas/CustomerContactsVO'
        customerId:
          type: integer
          format: int32
        customerName:
          type: string
        customerPreferencesVO:
          $ref: '#/components/schemas/CustomerPreferencesVO'
        customerType:
          type: string
        emailAddress:
          type: string
        groupAccount:
          type: string
        groupAccountServ:
          type: string
        gstNo:
          type: string
        inActiveSIMs:
          type: integer
          format: int32
        inProgressSIMs:
          type: integer
          format: int32
        kycAgreementTime:
          type: string
        kycIPAddress:
          type: string
        kycagreed:
          type: boolean
        lastUpdatedBy:
          type: string
        lastUpdatedOn:
          type: string
        liveCustomer:
          type: boolean
        localAddress:
          type: string
        m2mSolution:
          type: string
        maxBasketSize:
          type: integer
          format: int32
        panNo:
          type: string
        parentAccountNumber:
          type: string
        permanentAddress:
          type: string
        preferredLanguage:
          type: string
        primaryLSI:
          type: string
        primaryPhoneNumber:
          type: string
        primaryPhoneSetDefault:
          type: boolean
        primaryServiceNo:
          type: string
        productType:
          type: string
        safeCustodySIMs:
          type: integer
          format: int32
        secondaryLSI:
          type: string
        secondaryServiceNo:
          type: string
        status:
          type: string
        tanNo:
          type: string
        tdsPercentage:
          type: string
        testModeSIMs:
          type: integer
          format: int32
        tinNo:
          type: string
        totalBasketCount:
          type: integer
          format: int32
        totalCustomer:
          type: integer
          format: int32
        totalNoOfSim:
          type: integer
          format: int32
        totalSIMs:
          type: integer
          format: int32
        uinNo:
          type: string
        userAcceptingKYC:
          type: string
    CustomerStats:
      title: CustomerStats
      type: object
      properties:
        totalActiveSims:
          type: string
        totalAvailableSims:
          type: string
        totalBaskets:
          type: string
        totalInActiveSims:
          type: string
        totalInProgressSims:
          type: string
        totalSafeCustodySims:
          type: string
        totalSims:
          type: string
        totalSuspendedSims:
          type: string
        totalTempDisconnectedSims:
          type: string
        totalTestModeSims:
          type: string
        userStats:
          type: array
          items:
            $ref: '#/components/schemas/UserStats'
x-tagGroups:
- name: Manage Customer APIs
  tags:
  - Account Authorization
  - Account Details
  - Inventory Management
- name: New Orders APIs
  tags:
  - SIM LifeCycle
- name: Bulk Orders APIs
  tags:
  - SIM LifeCycle Bulk
- name: Jobs APIs
  tags:
  - Job Status
- name: Device Details APIs
  tags:
  - Device & Session Information
- name: Whitelisting APIs
  tags:
  - Whitelisting
- name: KYC APIs
  tags:
  - KYC Manager
- name: Messaging Centre APIs
  tags:
  - Messaging Centre
