openapi: 3.2.0
info:
  version: ''
  title: Airtel IoT Messaging Centre API
  contact:
    email: m2m.support@airtel.com
  description: '# Overview

    ## Introduction


    Airtel IoT Developer Portal showcases APIs that allows you

    to access data of the CMP Billable account from any external application.'
servers:
- url: https://m2m.airteliot.co.in/iot/api/
security: []
tags:
- name: Messaging Centre
  description: These set of APIs allow lifecycle management of the Messaging Centre functionality
paths:
  /billing/quota:
    get:
      tags:
      - Messaging Centre
      summary: Fetch SMS Quota
      description: This API will fetch the available SMS Quota balance.
      operationId: fetchSMSQuotaDetailsUsingGET
      parameters:
      - name: Authorization
        in: header
        description: Authorization Header (Value must be like Bearer <Developer Access Token>)
        required: true
        schema:
          type: string
          default: Bearer XXXXXXXXXXXXXX
      - name: apikey
        in: header
        description: Developer API Key
        required: true
        schema:
          type: string
      - name: customer-id
        in: header
        description: 'Unique ID to identify Customer (shared during On-Boarding process) '
        required: true
        schema:
          type: integer
          format: int64
      - name: iv-user
        in: header
        description: Developer Account User ID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SMSQuotaVO'
        '400':
          description: Request Message is not correct
          content: {}
        '500':
          description: Internal Server Error.
          content: {}
      deprecated: false
  /billing/history:
    get:
      tags:
      - Messaging Centre
      summary: Fetch Billing History
      description: This API will be used to fetch Plan Subscribe / Un-Subscribe history.
      operationId: fetchPurchaseHistoryUsingGET
      parameters:
      - name: Authorization
        in: header
        description: Authorization Header (Value must be like Bearer <Developer Access Token>)
        required: true
        schema:
          type: string
          default: Bearer XXXXXXXXXXXXXX
      - name: apikey
        in: header
        description: Developer API Key
        required: true
        schema:
          type: string
      - name: customer-id
        in: header
        description: 'Unique ID to identify Customer (shared during On-Boarding process) '
        required: true
        schema:
          type: integer
          format: int64
      - name: iv-user
        in: header
        description: Developer Account User ID
        required: true
        schema:
          type: string
      - name: pageNo
        in: query
        description: Page Number in case of pagination. Default Page No. is 1.
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 1
      - name: pageSize
        in: query
        description: Page Size in pagination. Default Page Size is 25 and Maximum is 100.
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 25
      - name: purchaseEndDate
        in: query
        description: Purchase Date / Transaction Date to fetch billing history. Format DD/MM/YYYY
        allowEmptyValue: false
        schema:
          type: string
      - name: purchaseStartDate
        in: query
        description: Purchase Date / Transaction Date to fetch billing history. Format DD/MM/YYYY
        allowEmptyValue: false
        schema:
          type: string
      - name: subscriptionEvent
        in: query
        description: Type of event which user want to filter.
        allowEmptyValue: false
        schema:
          type: string
          enum:
          - Purchase
          - Auto_Renew
          - Unsubscribe
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerPlanResponseVO'
        '400':
          description: Request Message is not correct
          content: {}
        '500':
          description: Internal Server Error.
          content: {}
      deprecated: false
  /template/:
    get:
      tags:
      - Messaging Centre
      summary: Fetch SMS Template Details
      description: This API will be used to fetch the list of Template Name and Template ID created on Messaging Centre on CMP. These templates details will be used to send SMS using 'Send SMS' or 'Send Batch SMS' feature.
      operationId: fetchTemplatesUsingGET
      parameters:
      - name: Authorization
        in: header
        description: Authorization Header (Value must be like Bearer <Developer Access Token>)
        required: true
        schema:
          type: string
          default: Bearer XXXXXXXXXXXXXX
      - name: apikey
        in: header
        description: Developer API Key
        required: true
        schema:
          type: string
      - name: customer-id
        in: header
        description: 'Unique ID to identify Customer (shared during On-Boarding process) '
        required: true
        schema:
          type: integer
          format: int64
      - name: fetchOnlyActiveTemplates
        in: query
        description: Pass true to fetch only Active Templates on which SMS can be sent.
        allowEmptyValue: false
        schema:
          type: boolean
      - name: iv-user
        in: header
        description: Developer Account User ID
        required: true
        schema:
          type: string
      - name: pageNo
        in: query
        description: Page Number in case of pagination. Default Page No. is 1.
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 1
      - name: pageSize
        in: query
        description: Page Size in pagination. Default Page Size is 25 and Maximum is 100.
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 25
      - name: templateName
        in: query
        description: Template Name to Search
        allowEmptyValue: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmsTemplateView'
        '400':
          description: Request Message is not correct
          content: {}
        '500':
          description: Internal Server Error.
          content: {}
      deprecated: false
  /send:
    post:
      tags:
      - Messaging Centre
      summary: Send SMS
      description: This API is used to initiate request for sending SMS on M2M SIMs. A single job can be used to send SMS to a maximum of 100 MSISDNs. This is an asynchronous API which will take input in specified JSON format mentioning MSISDN(s) and Template ID. In return it will provide a Job ID by which status of Job created by request can be tracked using 'Fetch SMS Jobs' and 'Fetch SMS Job Orders' APIs.
      operationId: sendSMSUsingPOST
      parameters:
      - name: Authorization
        in: header
        description: Authorization Header (Value must be like Bearer <Developer Access Token>)
        required: true
        schema:
          type: string
          default: Bearer XXXXXXXXXXXXXX
      - name: apikey
        in: header
        description: Developer API Key
        required: true
        schema:
          type: string
      - name: customer-id
        in: header
        description: 'Unique ID to identify Customer (shared during On-Boarding process) '
        required: true
        schema:
          type: integer
          format: int64
      - name: iv-user
        in: header
        description: Developer Account User ID
        required: true
        schema:
          type: string
      requestBody:
        description: smsBatchDO
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SMSBatchDO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobVO'
        '201':
          description: Resource Created Successfully
          content: {}
        '400':
          description: Request Message is not correct
          content: {}
        '500':
          description: Internal Server Error.
          content: {}
      deprecated: false
      x-codegen-request-body-name: smsBatchDO
  /send/custom/message:
    post:
      tags:
      - Messaging Centre
      summary: Send Custom SMS
      description: 'This API is used to initiate request for sending either Text or Binary SMS on M2M SIMs. A single job can be used to send SMS to a maximum of 10 MSISDNs. This is an asynchronous API which will take input in specified JSON format mentioning MSISDN(s) and Custom Message. In return it will provide a Job ID by which status of Job created by request can be tracked using ''Fetch SMS Jobs'' and ''Fetch SMS Job Orders'' APIs. Use API for below mentioned scenarios


        Send Text SMS : Pass binarySMS value as false. Maximum allowed content length of customMessage is 160 characters.


        Send Binary SMS : Pass binarySMS value as true. Maximum allowed content length of customMessage is 1000 characters. And content must be in 8-bit Binary format'
      operationId: sendCustomSMSUsingPOST
      parameters:
      - name: Authorization
        in: header
        description: Authorization Header (Value must be like Bearer <Developer Access Token>)
        required: true
        schema:
          type: string
          default: Bearer XXXXXXXXXXXXXX
      - name: apikey
        in: header
        description: Developer API Key
        required: true
        schema:
          type: string
      - name: customer-id
        in: header
        description: 'Unique ID to identify Customer (shared during On-Boarding process) '
        required: true
        schema:
          type: integer
          format: int64
      - name: iv-user
        in: header
        description: Developer Account User ID
        required: true
        schema:
          type: string
      requestBody:
        description: customSMSBatchDO
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomSMSBatchDO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobVO'
        '201':
          description: Resource Created Successfully
          content: {}
        '400':
          description: Request Message is not correct
          content: {}
        '500':
          description: Internal Server Error.
          content: {}
      deprecated: false
      x-codegen-request-body-name: customSMSBatchDO
  /download/batch/template:
    post:
      tags:
      - Messaging Centre
      summary: Download Batch SMS Template
      description: This API call is used to download the Batch template for performing 'Send Batch SMS' Operations on the account. It returns the file in excel format.
      operationId: downloadBulkSMSTemplateUsingPOST
      parameters:
      - name: Authorization
        in: header
        description: Authorization Header (Value must be like Bearer <Developer Access Token>)
        required: true
        schema:
          type: string
          default: Bearer XXXXXXXXXXXXXX
      - name: apikey
        in: header
        description: Developer API Key
        required: true
        schema:
          type: string
      - name: customer-id
        in: header
        description: 'Unique ID to identify Customer (shared during On-Boarding process) '
        required: true
        schema:
          type: integer
          format: int64
      - name: iv-user
        in: header
        description: Developer Account User ID
        required: true
        schema:
          type: string
      requestBody:
        description: downloadTemplateDO
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DownloadTemplateDO'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadSmsTemplateVO'
        '201':
          description: Resource Created Successfully
          content: {}
        '400':
          description: Request Message is not correct
          content: {}
        '500':
          description: Internal Server Error.
          content: {}
      deprecated: false
      x-codegen-request-body-name: downloadTemplateDO
  /send/batch:
    post:
      tags:
      - Messaging Centre
      summary: Send Batch SMS
      description: This API is used to initiate request for sending SMS on M2M SIMs in Batch. This is an asynchronous API which will take input in excel file mentioning MSISDN(s) and Template Name. In return it will provide a Job ID by which status of Job created by request can be tracked using 'Fetch SMS Jobs' and 'Fetch SMS Job Orders' APIs. Batch SMS template can be used to send SMS to up to 5,000 numbers in a single job.
      operationId: sendBatchSMSUsingPOST
      parameters:
      - name: Authorization
        in: header
        description: Authorization Header (Value must be like Bearer <Developer Access Token>)
        required: true
        schema:
          type: string
          default: Bearer XXXXXXXXXXXXXX
      - name: apikey
        in: header
        description: Developer API Key
        required: true
        schema:
          type: string
      - name: customer-id
        in: header
        description: 'Unique ID to identify Customer (shared during On-Boarding process) '
        required: true
        schema:
          type: integer
          format: int64
      - name: iv-user
        in: header
        description: Developer Account User ID
        required: true
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - file
              properties:
                basketId:
                  description: basketId
                file:
                  type: string
                  description: File to upload.
                  format: binary
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkSms'
        '201':
          description: Resource Created Successfully
          content: {}
        '400':
          description: Request Message is not correct
          content: {}
        '500':
          description: Internal Server Error.
          content: {}
      deprecated: false
  /box:
    get:
      tags:
      - Messaging Centre
      summary: Fetch SMS History
      description: This API is used to fetch history of both Incoming as well as Outgoing Messages received on Messaging Centre. API also provide a list of filters by which data specific to a MSISDN, Message Type, Sent Date etc. can be fetched.
      operationId: fetchMessageHistoryUsingGET
      parameters:
      - name: Authorization
        in: header
        description: Authorization Header (Value must be like Bearer <Developer Access Token>)
        required: true
        schema:
          type: string
          default: Bearer XXXXXXXXXXXXXX
      - name: apikey
        in: header
        description: Developer API Key
        required: true
        schema:
          type: string
      - name: customer-id
        in: header
        description: 'Unique ID to identify Customer (shared during On-Boarding process) '
        required: true
        schema:
          type: integer
          format: int64
      - name: endDate
        in: query
        description: End Date in a date range to fetch Job IDs. Format DD/MM/YYY
        allowEmptyValue: false
        schema:
          type: string
      - name: iv-user
        in: header
        description: Developer Account User ID
        required: true
        schema:
          type: string
      - name: messageType
        in: query
        description: Message types. Available types are - incoming/outgoing.
        allowEmptyValue: false
        schema:
          type: string
          enum:
          - Incoming
          - Outgoing
      - name: msisdn
        in: query
        description: Mobile Number, in case Job IDs for a particular mobile number needs to be fetched
        allowEmptyValue: false
        schema:
          type: string
      - name: pageNo
        in: query
        description: Page Number in case of pagination. Default Page No. is 1.
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 1
      - name: pageSize
        in: query
        description: Page Size in pagination. Default Page Size is 25 and Maximum is 100.
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 25
      - name: startDate
        in: query
        description: Start Date in a date range to fetch Job IDs. Format DD/MM/YYY
        allowEmptyValue: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageHistory'
        '400':
          description: Request Message is not correct
          content: {}
        '500':
          description: Internal Server Error.
          content: {}
      deprecated: false
  /job/history:
    get:
      tags:
      - Messaging Centre
      summary: Fetch SMS Jobs
      description: This API is used to fetch Jobs created while sending SMS either by 'Send SMS' or 'Send Batch SMS' feature. Using Job IDs mentioned in response of API, customer can fetch the details of SMS sent in that particular Job.
      operationId: fetchJobHistoryUsingGET
      parameters:
      - name: Authorization
        in: header
        description: Authorization Header (Value must be like Bearer <Developer Access Token>)
        required: true
        schema:
          type: string
          default: Bearer XXXXXXXXXXXXXX
      - name: apikey
        in: header
        description: Developer API Key
        required: true
        schema:
          type: string
      - name: customer-id
        in: header
        description: 'Unique ID to identify Customer (shared during On-Boarding process) '
        required: true
        schema:
          type: integer
          format: int64
      - name: endDate
        in: query
        description: End Date in a date range to fetch Job IDs. Format DD/MM/YYY
        schema:
          type: string
      - name: iv-user
        in: header
        description: Developer Account User ID
        required: true
        schema:
          type: string
      - name: jobId
        in: query
        description: Job ID, in case a particular Job ID to be fetched
        allowEmptyValue: false
        schema:
          type: integer
          format: int64
      - name: jobType
        in: query
        description: jobType
        schema:
          type: string
          enum:
          - Sync
          - Send_SMS
          - Batch_SMS
      - name: msisdn
        in: query
        description: msisdn
        schema:
          type: string
      - name: pageNo
        in: query
        description: Page Number in case of pagination. Default Page No. is 1.
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 1
      - name: pageSize
        in: query
        description: Page Size in pagination. Default Page Size is 25 and Maximum is 100.
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 25
      - name: startDate
        in: query
        description: Start Date in a date range to fetch Job IDs. Format DD/MM/YYY
        schema:
          type: string
      - name: status
        in: query
        description: Status of SMS
        allowEmptyValue: false
        schema:
          type: string
          enum:
          - In_Progress
          - Success
          - Failed
          - Error
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobVoResponse'
        '400':
          description: Request Message is not correct
          content: {}
        '500':
          description: Internal Server Error.
          content: {}
      deprecated: false
  /order/detail:
    get:
      tags:
      - Messaging Centre
      summary: Fetch SMS Job Orders
      description: This API is used to fetch line item details of each SMS sent to MSISDN either by 'Send SMS' or 'Send Batch SMS' feature in a Job. Job ID used in this API can be fetched from Fetch SMS Jobs.
      operationId: fetchSmsOrderDetailsUsingGET
      parameters:
      - name: Authorization
        in: header
        description: Authorization Header (Value must be like Bearer <Developer Access Token>)
        required: true
        schema:
          type: string
          default: Bearer XXXXXXXXXXXXXX
      - name: apikey
        in: header
        description: Developer API Key
        required: true
        schema:
          type: string
      - name: customer-id
        in: header
        description: 'Unique ID to identify Customer (shared during On-Boarding process) '
        required: true
        schema:
          type: integer
          format: int64
      - name: iv-user
        in: header
        description: Developer Account User ID
        required: true
        schema:
          type: string
      - name: jobId
        in: query
        description: jobId
        required: true
        schema:
          type: integer
          format: int32
      - name: msisdn
        in: query
        description: msisdn
        schema:
          type: string
      - name: pageNo
        in: query
        description: Page Number in case of pagination. Default Page No. is 1.
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 1
      - name: pageSize
        in: query
        description: Page Size in pagination. Default Page Size is 25 and Maximum is 100.
        allowEmptyValue: false
        schema:
          type: integer
          format: int32
          default: 25
      - name: status
        in: query
        description: Status of SMS
        allowEmptyValue: false
        schema:
          type: string
          enum:
          - In_Progress
          - Success
          - Failed
          - Error
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderVOResponse'
        '400':
          description: Request Message is not correct
          content: {}
        '500':
          description: Internal Server Error.
          content: {}
      deprecated: false
components:
  schemas:
    SMSBatchDO:
      title: SMSBatchDO
      type: object
      properties:
        simsDO:
          type: array
          items:
            $ref: '#/components/schemas/SimDO'
    OrderVO:
      title: OrderVO
      type: object
      properties:
        mobileNo:
          type: string
        orderCompletionTime:
          type: string
        orderId:
          type: integer
          format: int64
        orderInitiateDate:
          type: string
        orderStatus:
          type: string
        orderType:
          type: string
        remarks:
          type: string
        simNo:
          type: string
    SmsTemplateView:
      title: SmsTemplateView
      type: object
      properties:
        smsTemplates:
          type: array
          items:
            $ref: '#/components/schemas/SmsTemplate'
        totalRecords:
          type: integer
          format: int32
    SMSQuotaVO:
      title: SMSQuotaVO
      type: object
      properties:
        expiryDate:
          type: string
          example: dd/MM/yyyy
        outgoingSMSBalance:
          type: integer
          format: int64
        rolloverSMSQuota:
          type: integer
          format: int64
        totalBalance:
          type: integer
          format: int64
    CustomerPlanResponseVO:
      title: CustomerPlanResponseVO
      type: object
      properties:
        customerPlanVOs:
          type: array
          items:
            $ref: '#/components/schemas/CustomerPlanVO'
        totalRecords:
          type: integer
          format: int64
    CustomerPlanVO:
      title: CustomerPlanVO
      type: object
      properties:
        active:
          type: boolean
        allowedOutgoingSMSCount:
          type: integer
          format: int64
        billingPeriod:
          type: string
        daysValidity:
          type: integer
          format: int64
        description:
          type: string
        effectiveRatePerSMS:
          type: string
        expiryDate:
          type: string
        messageExpiryDays:
          type: integer
          format: int64
        monthlyRental:
          type: integer
          format: int64
        outgoingSMSBalance:
          type: integer
          format: int64
        planCode:
          type: string
        planName:
          type: string
        purchaseDateWithoutTime:
          type: string
        purchasedDate:
          type: string
        subscriptionEvent:
          type: string
    CustomSMSBatchDO:
      title: CustomSMSBatchDO
      type: object
      properties:
        customMessageDOS:
          type: array
          items:
            $ref: '#/components/schemas/CustomMessageDO'
    CustomMessageDO:
      title: CustomMessageDO
      required:
      - binarySMS
      - customMessage
      - mobileNO
      type: object
      properties:
        binarySMS:
          type: boolean
          description: 'false'
        customMessage:
          type: string
          description: Message to send against Mobile Number. Maximum length of message can be 160 characters.
        mobileNO:
          type: string
          description: Mobile No.
    Sms:
      title: Sms
      type: object
      properties:
        message:
          type: string
        messageDate:
          type: string
        messageFailureCode:
          type: string
        messageJobId:
          type: integer
          format: int64
        messageOrderId:
          type: integer
          format: int64
        messageStatus:
          type: string
        messageStatusRemarks:
          type: string
        messageText:
          type: string
        messageType:
          type: string
        msisdn:
          type: string
        sentBy:
          type: string
        shortCode:
          type: string
        status:
          type: string
        templateName:
          type: string
    SimDO:
      title: SimDO
      required:
      - mobileNO
      type: object
      properties:
        mobileNO:
          type: string
          description: Mobile No.
    SmsTemplate:
      title: SmsTemplate
      type: object
      properties:
        createdBy:
          type: string
        createdOn:
          type: string
        lastUpdatedBy:
          type: string
        lastUpdatedOn:
          type: string
        status:
          type: string
        templateId:
          type: number
        templateName:
          type: string
        templateTxt:
          type: string
        totalRecords:
          type: number
        version:
          type: number
    OrderVOResponse:
      title: OrderVOResponse
      type: object
      properties:
        orderVOs:
          type: array
          items:
            $ref: '#/components/schemas/OrderVO'
        total:
          type: integer
          format: int64
    JobVoResponse:
      title: JobVoResponse
      type: object
      properties:
        jobs:
          type: array
          items:
            $ref: '#/components/schemas/JobVO'
        total:
          type: string
    JobVO:
      title: JobVO
      type: object
      properties:
        errorFileName:
          type: string
          description: Error File Name
        errorItemsCount:
          type: integer
          description: Count of Error items in uploaded file.
          format: int32
        failureCount:
          type: integer
          description: Failure Order Count
          format: int32
        inProgressCount:
          type: integer
          description: In Progress Order Count
          format: int32
        jobId:
          type: integer
          description: Job ID, in case a particular Job ID to be fetched
          format: int64
        jobType:
          type: string
          description: Job Type as defined in CMP
        orderCompletionTime:
          type: string
          description: End Date in a date range to fetch Job IDs
        orderCount:
          type: integer
          description: Order Count
          format: int32
        orderInitiateDate:
          type: string
          description: Start Date in a date range to fetch Job IDs
        rejectedCount:
          type: integer
          description: Rejected Order Count
          format: int32
        requestedOrderItems:
          type: integer
          description: Count of items requested in uploaded file.
          format: int32
        statusCode:
          type: string
          description: Job Status Code
        statusMessage:
          type: string
          description: Status of Job IDs
        successCount:
          type: integer
          description: Success Order Count
          format: int32
        uploadFileName:
          type: string
          description: Upload File Name
    DownloadTemplateDO:
      title: DownloadTemplateDO
      type: object
      properties:
        basketId:
          type: integer
          format: int32
        smsData:
          type: string
          enum:
          - Y
          - N
    DownloadSmsTemplateVO:
      title: DownloadSmsTemplateVO
      type: object
      properties:
        basketName:
          type: string
        completionDate:
          type: string
        creationDate:
          type: string
        downloadFileId:
          type: integer
          format: int32
        downloadType:
          type: string
        extension:
          type: string
        fileName:
          type: string
        progress:
          type: integer
          format: int32
        status:
          type: string
    MessageHistory:
      title: MessageHistory
      type: object
      properties:
        messageDetails:
          type: array
          items:
            $ref: '#/components/schemas/Sms'
        total:
          type: integer
          format: int32
    BulkSms:
      title: BulkSms
      type: object
      properties:
        createdBy:
          type: string
        customerId:
          type: integer
          format: int64
        errorFileName:
          type: string
        failureOrders:
          type: integer
          format: int32
        jobCreationTime:
          type: string
          format: date-time
        jobId:
          type: integer
          format: int64
        jobStatus:
          type: string
        jobType:
          type: string
        rejectedOrders:
          type: integer
          format: int32
        successOrders:
          type: integer
          format: int32
        totalOrders:
          type: integer
          format: int32
        uploadFileName:
          type: string
x-tagGroups:
- name: Manage Customer APIs
  tags:
  - Account Authorization
  - Account Details
  - Inventory Management
- name: New Orders APIs
  tags:
  - SIM LifeCycle
- name: Bulk Orders APIs
  tags:
  - SIM LifeCycle Bulk
- name: Jobs APIs
  tags:
  - Job Status
- name: Device Details APIs
  tags:
  - Device & Session Information
- name: Whitelisting APIs
  tags:
  - Whitelisting
- name: KYC APIs
  tags:
  - KYC Manager
- name: Messaging Centre APIs
  tags:
  - Messaging Centre
